.order-success
  border-right: 1px solid $color-gray
  border-bottom: 1px solid $color-gray
  border-left: 1px solid $color-gray
  background-image: url(../images/line-pattern.jpg)
  background-repeat: repeat-x
  background-position: 50% 0
  padding: 47px 20px 65px
  text-align: center
  margin: 30px 0

  &__num
    color: #333
    font-size: 24px
    font-weight: 700
    margin: 25px 0 20px
    +r(480)
      margin: 15px 0 10px

  &__thanks
    font-size: 24px
    color: $color-primary
    margin-bottom: 25px
    +r(480)
      margin-bottom: 15px

  &__phone
    margin-top: 25px
    font-size: 20px
    color: #333
    +r(480)
      margin-top: 15px