.main-youtube
  border-top: 1px solid $color-gray
  padding: 55px 0

  &_no-border
    border-top: 0 none

  &__title
    font-size: 24px
    color: #333
    margin: 35px 0 25px
  
  p
    line-height: (24/15)
    margin: 20px 0

  &__wrap
    display: flex
    justify-content: space-between
    +r(980)
      flex-wrap: wrap

  &__text
    max-width: 480px
    padding-right: 30px
    +r(980)
      max-width: none
      margin-bottom: 30px
      padding-right: 0


  .btn
    margin-top: 20px
    +r(980)
      margin-top: 0

  &__video
    width: 580px
    margin: 0 auto
    flex: none
    +r(660)
      width: 100%
    .video-wrap
      position: relative
      padding-bottom: 56.25%
      padding-top: 25px
      height: 0
      iframe,
      object,
      embed
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%


