mixin pagination()
  // BEGIN PAGINATION
  +b.pagination
    ul
      li
        a(href="#") &laquo;
      li
        a(href="#") 1
      li
        a(href="#") 2
      li
        a(href="#") 3
      li.active
        a(href="#") 4
      li
        a(href="#") 5
      li
        a(href="#") 6
      li
        a(href="#") &raquo;
  // END PAGINATION
