.pagination
  margin: 50px 0 30px
  ul
    display: flex
    justify-content: center

  li
    margin: 0 1px
    text-align: center
    font-size: 14px
    &.active
      a
        border-bottom-color: $color-primary
        background-color: $color-primary
        color: #fff

  a
    width: 37px
    height: 36px
    display: block
    line-height: 36px
    border-bottom: 2px solid #d8d8d8
    color: #444
    &:hover
      color: $color-primary
      border-bottom-color: $color-primary

  span
    width: 37px
    height: 36px
    display: block
    line-height: 36px
    border-bottom: 2px solid #d8d8d8
    color: #444
