.overview
  display: flex
  margin: 60px -15px
  +r(980)
    margin-top: 40px
    flex-wrap: wrap


  &__desc
    padding: 0 15px
    box-sizing: border-box
    width: (7/12)*100%
    +r(980)
      width: 100%

  &__images
    padding: 0 15px
    box-sizing: border-box
    width: (5/12)*100%
    +r(980)
      width: 100%

  &__title
    font-size: 24px
    line-height: 1.2
    color: #333
    margin-bottom: 35px

  p
    line-height: (20/17)

  table
    width: 100%

    th,td
      border-bottom: 1px solid $color-gray
      padding: 5px 0
    th
      text-align: left

    td
      color: #333

  &__grid
    display: flex
    flex-wrap: wrap
    margin: 0 -7px

  &__grid-col
    margin-bottom: 15px
    box-sizing: border-box
    padding: 0 7px
    width: 50%
    text-align: center
    +r(980)
      width: auto
      max-width: 300px
    &:nth-child(1)
      width: 100%
      +r(980)
        width: auto
