.how-to-order
  margin-bottom: 30px
  &__title
    font-size: 30px
    line-height: 1.2
    font-weight: 700
    color: #333
    margin-bottom: 25px

  &__list
    display: flex
    flex-wrap: wrap
    justify-content: flex-start
    align-items: flex-start
    margin: 0 -15px
    +rmin(660)
      justify-content: space-around
    +rmin(1200)
      justify-content: space-between

  &__item
    display: flex
    justify-content: space-between
    padding: 0 15px
    margin: 10px 0
    box-sizing: border-box
    max-width: 420px
    +rmin(660)
      width: 50%
    +rmin(1200)
      width: 25%

    a
      color: #777

  &__num
    background-color: #f4f4f4
    position: relative
    color: $color-primary
    font-size: 24px
    text-align: center
    width: 70px
    height: 70px
    text-align: center
    line-height: 70px
    box-sizing: border-box
    border-right: 2px solid $color-primary
    flex: none
    &:after
      content: ''
      position: absolute
      top: 50%
      margin-top: -4px
      left: 100%
      margin-left: -2px
      width: 9px
      height: 9px
      box-sizing: border-box
      background-color: #f4f4f4
      border-top: 2px solid $color-primary
      border-right: 2px solid $color-primary
      transform: rotate(45deg)


  &__inner
    flex-grow: 1
    margin-left: 30px

  &__subtitle
    font-size: 14px
    font-weight: 700
    color: #333
    text-transform: uppercase
    margin-bottom: 15px

  p
    line-height: (24/15)



  .shipping-type
    &__title
      font-size: 22px