.popup-call
  background-image: url(../images/line-pattern.jpg), url(../images/line-pattern.jpg)
  background-repeat: repeat-x ,repeat-x
  background-position: 50% 100%, 50% 0
  background-color: #fff
  max-width: 375px
  position: relative
  margin: 0 auto
  box-sizing: border-box
  padding: 60px 40px 75px
  text-align: center
  box-shadow: 0 5px 10px rgba(#000002, .21)
  &#popup-call-success
    .popup-call__title
      margin-bottom: 15px
  +r(480)
    padding: 40px 20px

  &__title
    font-weight: 600
    font-size: 20px
    color: #333
    margin-bottom: 35px

  &__btn-wrap
    margin-top: 30px

  .field
    input
      height: 38px
      text-align: center

  .form-line
    margin: 12px 0

  .btn
    &_primary
      height: 38px

  .mfp-close
    opacity: 1
    .icon
      pointer-events: none
    &:hover
      .icon_call-close
        +sprite($icon-call-close-hover)

.popup-order-success
  background-color: #e95547
  max-width: 470px
  margin: 0 auto
  box-shadow: 0 5px 10px rgba(#000002, .21)
  text-align: center
  position: relative
  color: #fff
  padding: 45px 65px
  box-sizing: border-box
  font-size: 15px
  line-height: (20/15)
  +r(480)
    padding: 40px 15px

  .mfp-close
    display: none

  &__title
    font-size: 24px
    line-height: 1.2
    margin-bottom: 20px
    +r(480)
      font-size: 22px

  &__line
    max-width: 69px
    height: 1px
    margin: 30px auto
    background-color: #f59288

  &__oreder-num
    font-size: 24px
    line-height: 1.2
    margin-bottom: 10px
    +r(480)
      font-size: 22px

  &__price
    font-size: 30px
    font-weight: 700
    margin-bottom: 10px

