.special
  margin: 60px 0 0
  &__title
    font-size: 20px
    font-weight: 700
    text-transform: uppercase
    color: #333
    margin-bottom: 10px

  &__list
    display: flex
    flex-wrap: wrap
    margin: 0 -15px


  &__item
    margin: 10px 0
    flex-basis: 33.33333%
    padding: 0 15px
    box-sizing: border-box
    flex-grow: 1
    min-width: 300px
    a
      display: block
      +cover
      min-height: 230px
      color: #333
      font-size: 17px
      line-height: (20/17)
      padding: 25px
      box-sizing: border-box

  &__item-title
    color: $color-primary
    font-size: 30px
    font-weight: 700
    text-transform: uppercase
    +r(480)
      font-size: 24px