.videos
  margin-bottom: 30px
  &__title
    font-size: 30px
    font-weight: 700
    line-height: 1.2
    color: #333
    margin-bottom: 30px

  &__item
    display: flex
    justify-content: space-between
    margin: 0 -15px 55px
    +r(768)
      flex-wrap: wrap

  &__preview-wrap
    width: (5/12)*100%
    box-sizing: border-box
    padding: 0 15px
    +r(768)
      width: 100%
      max-width: 470px

  &__preview
    position: relative
    display: block
    outline: none
    img
      display: block
    &:hover
      &:after
        content: ''
        position: absolute
        top: 0
        left: 0
        right: 0
        bottom: 0
        background-color: #fff
        opacity: .4
      .videos__play
        opacity: 1

  
  &__play
    opacity: 0
    position: absolute
    top: 50%
    margin-top: -32px
    left: 50%
    margin-left: -32px
    z-index: 2
    transition: opacity .3s ease-in-out


  &__text
    width: (7/12)*100%
    box-sizing: border-box
    padding: 0 15px
    +r(768)
      margin-top: 20px
      width: 100%

  &__item-title
    font-size: 24px
    color: #333
    line-height: 1.24
    margin-bottom: 25px

  p
    font-size: 15px
    line-height: (24/15)
    margin: 15px 0 

  .btn
    margin-top: 15px
