.catalog
  &__title
    font-size: 30px
    line-height: 1.24
    font-weight: 700
    color: #333
    margin-bottom: 15px
    +r(660)
      flex-grow: 1
      width: 100%
    +r(480)
      font-size: 24px

  .breadcrumbs
    margin-top: 0

    li
      margin-top: 0

  &__head
    display: flex
    justify-content: space-between
    flex-wrap: wrap
    align-items: center

  &__mobile-category
    display: none
    +r(1080)
      display: block
      



  &__nav
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    margin-bottom: 25px
    .select
      margin: 5px 0

  &__nav-type
    display: inline-block
    margin-left: 20px

  &__list
    display: flex
    align-items: stretch
    flex-wrap: wrap

  &__col
    flex-basis: 33.3333%
    border: 1px solid $color-gray
    box-sizing: border-box
    display: flex
    align-items: stretch
    position: relative
    margin: -1px 0 0 -1px
    +r(768)
      flex-basis: 50%
    +r(480)
      flex-basis: 100%

    &:hover
      .product-card
        position: relative
        z-index: 3
        &:after
          content: ''
          position: absolute
          top: -1px
          bottom: -50px
          left: -1px
          right: -1px
          border: 1px solid $color-gray
          background-color: #fff
          box-shadow: 0 5px 27px rgba(#000, .11)

        &__btn-wrap
          display: block
          position: absolute
          z-index: 2
          bottom: -25px
          left: 0
          right: 0


    .product-card
      flex-grow: 1

  &__bottom
    position: relative
    text-align: center

  &__all
    position: absolute
    top: 0
    right: 0
    +r(768)
      position: static
      margin-top: 20px

  .pagination
    margin-top: 35px
    +r(768)
      margin-top: 10px


  &.view-list
    .catalog
      &__col
        flex-basis: 100%
        &:hover
          .product-card
            position: relative
            z-index: 10
            box-shadow: 0 5px 27px rgba(#000, .11)
            &:after
              display: none

        .product-card
          flex-direction: row
          align-items: center
          justify-content: space-between
          text-align: left
          padding: 15px 20px
          +r(768)
            flex-wrap: wrap

          &__preview
            max-width: 130px
            +r(480)
              max-width: none

          &__desc
            margin-left: 20px
            padding-left: 20px
            padding-right: 15px
            flex-grow: 1
            position: relative
            +r(480)
              width: 100%
              margin-left: 0
              padding-left: 0
              padding-right: 0
              margin: 10px 0
              &:after
                display: none
            &:after
              content: ''
              position: absolute
              top: -5px
              bottom: -5px
              width: 1px
              left: 0
              background-color: $color-gray
          &__manufacturer
            margin-top: 0
          &__text
            margin: 0
            max-width: 400px
            +r(660)
              max-width: 200px
            +r(480)
              max-width: none


          &__price
            margin-top: 0
            white-space: nowrap
            min-width: 140px
            text-align: right
            +r(768)
              width: 50%
              box-sizing: border-box
          &__btn-wrap
            margin-left: 30px
            display: block
            position: static
            +r(768)
              width: 50%
              margin-left: 0
              box-sizing: border-box
              text-align: right

          .btn
            margin-top: 0

.catalog-seo
  img
    +r(920)
      float: none !important
      margin: 0 !important
      max-width: 100% !important