.product-card-slide
  margin-bottom: 50px
  &__head
    margin-bottom: 20px
    display: flex
    justify-content: space-between

  &__title
    font-size: 20px
    font-weight: 700
    color: #333
    text-transform: uppercase
    line-height: 1.2
  .swiper-container
    overflow-y: visible
    padding-bottom: 50px
    margin-bottom: -50px
    height: auto
    width: 100%
    box-sizing: border-box
    padding-right: 1px
    margin-left: -1px
  .swiper-wrapper
    align-items: stretch
  &__slide
    display: flex
    align-items: stretch
    flex-grow: 1
    height: auto
    margin-bottom: -1px
    .product-card
      flex-grow: 1
      border: 1px solid $color-gray

    &:hover
      .product-card
        position: relative
        z-index: 3
        &:after
          content: ''
          position: absolute
          top: -1px
          bottom: -50px
          left: -1px
          right: -1px
          border: 1px solid $color-gray
          background-color: #fff

        &__btn-wrap
          display: block
          position: absolute
          z-index: 2
          bottom: -25px
          left: 0
          right: 0

  &#hit

    .swiper-wrapper
      +r(768)
        flex-wrap: wrap
    .product-card-slide
      &__nav
        +r(768)
          display: none
      &__slide
        +r(768)
          width: 33.33333%
        +r(660)
          width: 50%
        +r(480)
          width: 100%

.product-card-slide-nav
  display: inline-block
  padding: 5px 10px
  box-sizing: border-box
  cursor: pointer
  &:not(.swiper-button-disabled)
    &:hover
      .icon_prev2
        +sprite($icon-prev2-hover)
      .icon_next2
        +sprite($icon-next2-hover)