.product-price
  ins
    font-size: 20px
    color: #333
    text-decoration: none
    display: inline-block
    margin: 0 7px
    white-space: nowrap

  del
    margin: 0 7px 
    display: inline-block
    font-size: 15px
    color: #999
    text-decoration: line-through
    white-space: nowrap