mixin product-card-slide(title,row)
  +b.product-card-slide&attributes(attributes)
    +e.head
      +e.title=title
      +e.nav
        +b.product-card-slide-nav._prev
          +b.I.icon._prev2
        +b.product-card-slide-nav._next
          +b.I.icon._next2
    +e.slides
      .swiper-container(data-row=row)
        .swiper-wrapper
          -for(var i = 0; i < 12; i++)
            +e.slide.swiper-slide
              +product-card