mixin product-card()
  -var rnd = Math.random();
  +b.product-card
    +e.A.preview(href="product.html")
      img(src="images/product1.jpg", alt="")
    +e.desc
      +e.A.manufacturer(href="#") MAGPLAYER
      br
      +e.A.text(href="product.html")
        if rnd <= 0.4
          | Конструктор магнитный
        else if 0.4 < rnd && rnd <= 0.7
          | Конструктор магнитный набор 112 эл.Конструктор магнитный набор 112 эл.
        else
          | Конструктор магнитный набор 112 эл.
    +e.price
      +b.product-price
        if rnd > 0.5
          del 2 450
            +b.SPAN.rub a
        ins 2 450
          +b.SPAN.rub a
    +e.btn-wrap
      +b.A.btn._primary(href="product.html") Купить