.product-card
  line-height: (20/15)
  text-align: center
  display: flex
  flex-direction: column
  padding: 40px 20px 30px
  box-sizing: border-box
  background-color: #fff

  .btn
    height: 36px
    font-size: 15px
    line-height: 36px
    width: 97px
    &:hover
      color: #fff

  &__preview
    position: relative
    z-index: 2
    height: 195px
    display: flex
    align-items: center
    justify-content: center

  &__manufacturer
    margin-top: 25px
    display: inline-block
    font-size: 12px
    text-transform: uppercase
    color: $color-primary
    position: relative
    z-index: 2

  &__text
    margin: 5px auto 18px
    max-width: 200px
    display: inline-block
    color: #777
    position: relative
    z-index: 2

  &__price
    position: relative
    z-index: 2
    margin-top: auto


  &__btn-wrap
    display: none