.checkout
  margin-bottom: 50px
  &__title
    font-size: 30px
    line-height: 1.2
    font-weight: 700
    color: #333
    margin-bottom: 20px

  &__total
    text-align: right
    font-weight: 700
    font-size: 24px
    line-height: 1
    color: #333
    margin: 30px 0
    padding-right: 25px

    .rub
      font-weight: normal



.checkout-item
  position: relative
  border-bottom: 1px solid $color-gray
  border-left: 1px solid $color-gray
  border-right: 1px solid $color-gray
  background-color: #fff
  display: flex
  align-items: center
  justify-content: space-between
  padding: 15px 150px 15px 20px
  line-height: (20/15)
  +r(980)
    flex-direction: column
  +r(660)
    padding-right: 20px
  &:first-child
    border-top: 1px solid $color-gray

  &__pair
    display: flex
    align-items: center
    +r(480)
      flex-direction: column

    &:nth-child(1)
      flex-grow: 1
      +r(980)
        margin-top: 20px

  &__remove
    position: absolute
    top: 50%
    margin-top: -10px
    right: 50px
    border: 0 none
    outline: none
    background-color: transparent
    cursor: pointer
    +r(660)
      top: 10px
      margin-top: 0
      right: 10px
    &:hover
      .icon_remove
        +sprite($icon-remove-hover)


  &__desc
    flex-grow: 1
    margin-left: 25px
    padding-left: 25px
    position: relative
    color: #333
    +r(480)
      margin: 10px 0
      padding-left: 0
      text-align: center
      &:after
        display: none
    &:after
      content: ''
      position: absolute
      top: -5px
      bottom: -5px
      width: 1px
      left: 0
      background-color: $color-gray

  &__preview
    max-width: 130px

  &__manufacturer
    font-size: 12px
    text-transform: uppercase
    color: $color-primary

  &__price
    margin-left: 40px
    color: #333
    white-space: nowrap
    min-width: 85px
    text-align: right
    +r(480)
      margin: 20px 0 0
      font-size: 24px

  &__count
    padding: 0 15px
    min-width: 220px
    box-sizing: border-box







.checkout-form
  border-top: 1px dashed $color-gray
  padding-top: 45px

  &__title
    font-size: 22px
    color: #333
    line-height: 1
    padding-bottom: 27px
    border-bottom: 2px solid $color-primary
    margin-bottom: 25px

  ol
    counter-reset: checkout_list
    line-height: (24/15)

    li
      counter-increment: checkout_list
      position: relative
      padding-left: 15px
      &:before
        content: counter(checkout_list)'.'
        position: absolute
        top: 0
        left: 0
      a
        color: #333
        &:hover
          color: $color-primary

  &__wrap
    display: flex
    justify-content: space-between
    margin: 0 -15px
    +r(1080)
      flex-wrap: wrap

  &__col
    width: (3/12)*100%
    padding: 0 15px
    box-sizing: border-box
    +r(1080)
      width: 100%
      margin-bottom: 20px
      &_shipping
        width: (6/12)*100%
        margin-bottom: 0
    +r(768)
      &_shipping
        width: 100%
        margin-bottom: 15px

  &__form
    width: (6/12)*100%
    padding: 0 15px
    box-sizing: border-box
    +r(768)
      width: 100%
      order: 3

  .form-line+.form-line
    margin-top: 20px

  &__btn-wrap
    margin-top: 30px


.checkout-shipping
  background-color: #f4f4f4
  padding: 45px 30px
  box-sizing: border-box

  &__title
    font-size: 14px
    font-weight: 700
    text-transform: uppercase
    color: #333
    line-height: 1.2
    margin-bottom: 30px

  &__line
    margin: 20px 0
    font-size: 14px
    line-height: (20/14)