.header
  background-image: url(../images/line-pattern.jpg)
  background-repeat: repeat-x
  background-position: 50% 0
  background-color: #fff
  position: relative
  z-index: 2
  padding: 30px 0 30px

  &__wrap
    display: flex
    justify-content: space-between
    align-items: flex-end
    +r(1080)
      flex-direction: column
      align-items: center

  &__logo
    flex-grow: 1
    margin-right: 15px

  &__pair
    flex-grow: 1
    display: flex
    justify-content: space-between
    align-items: flex-end
    +r(1080)
      width: 100%
      max-width: 700px
      margin-top: 20px
    +r(660)
      justify-content: center

  &__phone
    +r(660)
      display: none


  +r(480)
    .logo
      img
        max-width: 40px
      &__logo
        font-size: 24px 
        margin-bottom: 0
      &__small
        font-size: 12px



.logo
  display: flex
  align-items: center
  color: #777

  &:hover
    color: #777

  img
    margin-right: 15px

  &__logo
    +vc
    font-size: 36px
    letter-spacing: 1.6px
    text-transform: uppercase
    color: $color-primary
    display: block
    margin-bottom: 10px

  &__small
    font-size: 16px


.header-block
  display: flex
  align-items: center

  &__icon
    width: 58px
    height: 58px
    flex-basis: 58px
    border-radius: 50%
    border: 1px solid #e3e3e3
    line-height: 56px
    text-align: center
    margin-right: 20px
    flex: none
    +r(480)
      margin-right: 15px

  &__phone
    font-size: 18px
    color: #333
    font-weight: 700
    display: inline-block
    margin: 5px 0 5px
