mixin header()
  // BEGIN HEADER 
  +b.HEADER.header
    +e.wrap.container
      +e.logo
        +b.A.logo(href="index.html")
          img(src="images/logo.png", alt="")
          +e.text
            +e.logo constructional
            +e.small Развивающие конструкторы для детей
      +e.pair
        +e.addres
          +b.header-block
            +e.icon
              +b.I.icon._address
            +e.text Ул. Красноармейская, 79/2
              br
              +e.A.phone(href="tel:+78200504703") +7 (820) 050-47-03
              br
              | Выберите город:
              // BEGIN CITY 
              +b.city
                +e.SPAN.current Александровск-Сахалинский
                +e.dropdown
                  +e.notfound Ваш город не найден.
                  -
                    var list = [{
                        text: 'Валдай'
                      },
                      {
                        text: 'Валуйки'
                      },
                      {
                        text: 'Варнавино'
                      },
                      {
                        text: 'Васильсурск'
                      },
                      {
                        text: 'Велиж'
                      },
                      {
                        text: 'Великие Луки'
                      },
                      {
                        text: 'Великий Новгород'
                      },{
                        text: 'Валдай'
                      },
                      {
                        text: 'Валуйки'
                      },
                      {
                        text: 'Варнавино'
                      },
                      {
                        text: 'Васильсурск'
                      },
                      {
                        text: 'Велиж'
                      },
                      {
                        text: 'Великие Луки'
                      },
                      {
                        text: 'Великий Новгород'
                      },{
                        text: 'Валдай'
                      },
                      {
                        text: 'Валуйки'
                      },
                      {
                        text: 'Варнавино'
                      },
                      {
                        text: 'Васильсурск'
                      },
                      {
                        text: 'Велиж'
                      },
                      {
                        text: 'Великие Луки'
                      },
                      {
                        text: 'Великий Новгород'
                      },];
                  +list-scroll(list, "index-city.html", 'is-show')
                  +search('Введите город', false)
                .dropdown-bg
              // END CITY 

        +e.phone
          +b.header-block
            +e.icon
              +b.I.icon._phone
            +e.text Бесплатный звонок
              br
              +e.A.phone(href="tel:88006704280") 8 (800) 670-42-80
              br
              a.js-popup-call(href="#popup-call") Заказать обратный звонок
  // END HEADER 
  // BEGIN TOP-NAV 
  +b.top-nav
    +e.wrap.container
      nav#top-nav
        ul
          li(class= (navItemActive == 1) ? 'active' : '')
            a(href="index.html") Главная
          li(class= (navItemActive == 2) ? 'active' : '')
            a(href="catalog.html") Каталог
          li(class= (navItemActive == 3) ? 'active' : '')
            a(href="how-to-order.html") Как купить?
          li(class= (navItemActive == 4) ? 'active' : '')
            a(href="shipping_payment.html") Доставка и оплата
          li(class= (navItemActive == 5) ? 'active' : '')
            a(href="wholesale.html") Оптом
          li(class= (navItemActive == 6) ? 'active' : '')
            a(href="contact.html") Контакты
      +b.cart(class= cartActive)
        a(href="checkout.html")
          +b.I.icon._cart
          | Корзина 
          +e.SPAN.count (0)
      -
        var slist = [
          {
            text: 'Магнитные конструкторы'
          },
          {
            text: 'Металлические конструкторы'
          },
          {
            text: '<span>Мягкие конструкторы</span>'
          },
          {
            text: 'Магнитные конструкторы'
          },
          {
            text: 'Металлические конструкторы'
          },
          {
            text: 'Мягкие конструкторы'
          },
        ];
      // BEGIN SEARCH 
      +search('ПОИСК', slist)#top-search
      // END SEARCH 
      +b.BUTTON.search-toggle(type="button")
        +b.I.icon._search-hover
      +b.BUTTON.hamburger(type="button")
        +e.SPAN.line
        +e.SPAN.line
        +e.SPAN.line

  // END TOP-NAV 
