.sitemap
  margin-bottom: 30px
  &__title
    font-size: 30px
    font-weight: 700
    color: #333
    line-height: 1.2
    margin-bottom: 30px

  li
    margin: 10px 0
    ul
      margin-left: 30px
      +r(480)
        margin-left: 15px
