.top-nav
  border-top: 1px solid $color-gray
  box-shadow: 0 3px 7px rgba(#000002, .07)

  &__wrap
    display: flex
    +r(980)
      flex-wrap: wrap
  nav
    flex-grow: 1
    max-width: 685px
    width: 100%
    +rmin(660)
      display: block !important
    +r(980)
      order: 2
      max-width: none
      border-top: 1px solid $color-gray
      border-right: 1px solid $color-gray
    +r(660)
      border: 0 none
      display: none
    ul
      display: flex
      +r(660)
        display: block
    li
      flex-grow: 1
      border-left: 1px solid $color-gray
      +r(660)
        border-right: 1px solid $color-gray
        border-top: 1px solid $color-gray
      &.active
        a
          color: $color-primary
          position: relative
          &:after,
          &:before
            opacity: 1
          &:after
            right: 0
            top: -1px
          &:before
            bottom: -1px
            left: 0
            display: none
            +r(660)
              display: block

    a
      color: #333333
      display: block
      text-align: center
      padding: 18px 5px
      &:after,
      &:before
        content: ''
        position: absolute
        background-color: $color-primary
        height: 2px
        opacity: 0
      &:after
        left: 0
        right: 100%
        transition: right .3s ease-in-out
      &:before
        left: 100%
        right: 0
        transition: left .3s ease-in-out
      &:before
      &:hover
        color: $color-primary
        position: relative
        &:after,
        &:before
          opacity: 1
        &:after
          right: 0
          top: -1px
        &:before
          bottom: -1px
          left: 0
          display: none
          +r(660)
            display: block


  .cart
    flex-grow: 1

  .search
    flex-grow: 1
    max-width: 348px
    width: 100%
    border-top: 1px solid $color-gray
    +r(1080)
      max-width: 250px
    +r(980)
      max-width: none
      width: 50%
    +rmin(480)
      border-top: 0 none
      display: block !important
    +r(480)
      order: 1
      width: 100%
      border-right: 1px solid $color-gray
      border-left: 1px solid $color-gray
      display: none
      button
        width: 50px
        flex-basis: 50px
    input
      border: 0 none

  .hamburger
    border-right: 1px solid $color-gray
    flex: none
    height: 51px
    display: none
    +r(660)
      display: block

  .search-toggle
    display: none
    +r(480)
      display: block

.search-toggle
  width: 51px
  position: relative
  cursor: pointer
  background: none
  border: 0 none
  outline: none
  border-right: 1px solid $color-gray
  &:after
    content: ''
    position: absolute
    top: -1px
    left: 0
    right: 100%
    background-color: $color-primary
    height: 2px
    transition: right .3s ease-in-out
  &.active
    &:after
      right: 0

.hamburger
  width: 51px
  position: relative
  cursor: pointer
  background: none
  border: 0 none
  outline: none
  &:after
    content: ''
    position: absolute
    top: -1px
    left: 0
    right: 100%
    background-color: $color-primary
    height: 2px
    transition: right .3s ease-in-out
  &.active
    &:after
      right: 0

  &.active
    .hamburger
      &__line
        &:nth-child(1)
          margin-top: -1px
          transform: rotate(45deg)
        &:nth-child(2)
          opacity: 0
        &:nth-child(3)
          margin-top: -1px
          transform: rotate(-45deg)
  &__line
    position: absolute
    left: 10px
    right: 10px
    height: 3px
    border-radius: 2px
    top: 50%
    background-color: $color-primary
    transition: transform .5s ease-in-out, margin-top .5s ease-in-out, opacity .5s ease-in-out
    &:nth-child(1)
      margin-top: -10px
    &:nth-child(2)
      margin-top: -2px
    &:nth-child(3)
      margin-top: 6px


.cart
  &.active
    a
      &:after
        opacity: 1
        right: 0
  a
    border-left: 1px solid $color-gray
    border-right: 1px solid $color-gray
    display: block
    padding: 18px 5px
    text-align: center
    color: #333
    white-space: nowrap
    position: relative
    .icon_cart
      position: relative
      top: -1px
      margin-right: 5px
    &:after
      content: ''
      position: absolute
      top: -1px
      height: 2px
      left: 0
      right: 100%
      background-color: $color-primary
      opacity: 0
      transition: right .3s ease-in-out
    &:hover
      color: $color-primary
      &:after
        opacity: 1
        right: 0


  &__count
    color: $color-primary
