.shipping-type-wrap
  display: flex
  justify-content: space-between
  align-items: stretch
  margin: 0 -15px
  flex-wrap: wrap
  line-height: (24/15)
  +r(768)
    align-items: flex-start

.shipping-type
  margin: 10px 0
  padding: 0 15px
  flex-grow: 1
  box-sizing: border-box
  width: 33.33333%
  display: flex
  align-items: stretch
  flex-direction: column
  +r(768)
    width: 100%

  &__title
    font-size: 18px
    font-weight: 700
    line-height: (24/18)
    color: #333
    br
      display: none
      +rmin(1200)
        display: block

  hr
    margin-bottom: 20px

  ol
    counter-reset: ollist
    margin-bottom: auto

    li
      margin: 10px 0
      counter-increment: ollist
      &:before
        content: counter(ollist) ". "

  ul
    li
      margin: 15px 0
      .icon
        margin-right: 15px
        &_work-time
          vertical-align: top
          position: relative
          top: 2px
      span
        font-weight: 700
        color: #333

  &__phone
    color: #333
    white-space: nowrap

  &__mail
    color: #777
    white-space: nowrap

  &__work-time
    font-size: 13px
    line-height: 1.2
    display: inline-block
    vertical-align: top
    position: relative
    top: 5px


.payment-method-list
  margin-top: 25px
  margin-left: 25px
  li
    margin: 10px 0
    position: relative
    padding-left: 16px
    &:before
      content: ''
      position: absolute
      top: 10px
      left: 0
      width: 4px
      height: 4px
      background-color: $color-primary






