.contact
  &__title
    font-size: 30px
    font-weight: 700
    color: #333
    line-height: 1.2
    margin-bottom: 30px


.search-contact
  margin-top: 35px
  padding: 45px 50px
  box-sizing: border-box
  background-color: #f4f4f4
  +r(480)
    padding: 25px 20px
  &__wrap
    display: flex
    +r(980)
      flex-wrap: wrap

  &__search
    box-sizing: border-box
    width: 350px
    flex: none
    margin-right: 70px
    +r(480)
      width: 100%

  &__desc
    box-sizing: border-box
    flex-grow: 1
    +r(980)
      margin-top: 25px

  &__title
    font-size: 20px
    line-height: 1.24
    color: #333
    margin-bottom: 25px

  &__subtitle
    font-size: 18px
    color: #333
    margin-bottom: 20px

  p
    font-size: 15px
    line-height: (24/15)

  &__address
    margin-top: 25px

.contact-cities
  margin-top: 40px
  &__title
    font-size: 20px
    line-height: 1.24
    font-weight: 700
    color: #333
    text-align: center
    text-transform: uppercase

  &__wrap
    display: flex
    flex-wrap: wrap
    margin: 0 -15px

  &__col
    width: 50%
    box-sizing: border-box
    padding: 0 15px
    margin-top: 35px
    +r(980)
      width: 100%


  .table-wrap
    +r(500)
      table
        width: 480px

  table
    width: 100%
    font-size: 13px
    line-height: 1.1

  th
    padding: 15px 20px
    color: #333
    text-align: left
    &:nth-child(2)
      border-left: 1px solid $color-gray
      border-right: 1px solid $color-gray

  tr
    &:hover
      td
        a
          color: $color-primary

  td
    padding: 7px 20px
    border-top: 1px solid $color-gray
    border-bottom: 1px solid $color-gray

    &:nth-child(2)
      border-left: 1px solid $color-gray
      border-right: 1px solid $color-gray

    &:nth-child(3)
      white-space: nowrap

  &__caption
    background-color: $color-primary2
    padding: 15px
    line-height: 1
    text-align: center
    color: #fff


.contact-city
  margin-top: 40px
  margin-bottom: 20px
  border-top: 1px solid $color-gray

  &__label
    font-size: 15px
    font-weight: 700
    color: #333
    margin-bottom: 5px


  &__wrap
    display: flex
    justify-content: space-between
    +r(768)
      flex-direction: column

  &__city
    padding-top: 30px
    padding-right: 20px
    flex: none
    .contact-city__text
      white-space: nowrap
    +r(660)
      margin-bottom: 15px

  &__market-list
    flex-grow: 1

  &__market
    padding: 30px 0
    display: flex
    justify-content: space-between
    border-bottom: 1px solid $color-gray
    +r(660)
      flex-direction: column
      justify-content: flex-start
      padding: 0 0 20px
      border: 0 none
    &:last-child
      border-bottom: 0 none

  &__part-wrap
    display: flex
    justify-content: space-between
    flex-grow: 1
    +r(1200)
      display: block


  &__part
    display: flex
    justify-content: space-between
    flex-grow: 1
    +r(560)
      flex-direction: column
      align-items: center
      text-align: center

    &:last-child
      +r(1200)
        margin-top: 20px
      +r(560)
        margin-top: 0
      .contact-city
        &__col
          &:last-child
            min-width: 195px


  &__col
    padding: 0 15px
    box-sizing: border-box
    flex-grow: 1
    &_social
      width: 230px
      flex: none
    &_call
      width: 170px
      flex: none
    &_worktime
      width: 160px
      flex: none
    &_email
      width: 160px
      flex: none
    +r(560)
      margin-top: 10px
    

  &__text
    line-height: (24/15)

  &__id
    padding: 0 15px
    color: $color-primary
    text-align: center
    width: 90px
    flex: none
    +r(660)
      padding: 10px 15px
      background-color: $color-primary
      color: #fff
      flex-grow: 0
      margin-bottom: 10px
      box-sizing: border-box
      width: auto
      .contact-city__label
        display: none

  &__link
    color: #777
    &:hover
      color: $color-primary

  .social
    margin-top: 10px


.search-city-map
  &__wrap
    background-color: #f4f4f4
    padding: 45px 50px
    margin-bottom: 50px
    +r(480)
      padding: 25px 20px

  &__title
    font-size: 20px
    color: #333
    line-height: 1.24
    margin-bottom: 25px
    +r(480)
      font-size: 18px

  &__map
    height: 475px
