.requisites
  margin: 40px 0
  color: #777
  padding: 24px 40px
  background-color: #f4f4f4
  line-height: 1
  +r(480)
    padding: 25px 20px
  div
    border-bottom: 1px dotted #777
    display: flex
    align-items: flex-end
    margin: 14px 0
    +r(660)
      display: block
      border: 0 none
      margin: 10px 0

  dt,
  dd
    width: 50%
    flex-basis: 50%
    +r(660)
      width: 100%
    
    span
      background-color: #f4f4f4
      position: relative
      bottom: -1px

  dt
    span
      padding-right: 3px
      +r(660)
        padding: 0

  dd
    color: #333
    span
      padding-left: 3px
      display: block
      +r(660)
        padding: 0
