.reviews
  margin-bottom: 30px
  &__title
    font-size: 30px
    line-height: 1.2
    font-weight: 700
    margin-bottom: 40px
    color: #333


.review-item
  display: flex
  justify-content: space-between
  align-items: stretch
  border-bottom: 1px solid $color-gray
  margin-bottom: 25px
  position: relative

  &__quote
    width: 100px
    flex: none
    box-sizing: border-box
    padding-left: 10px
    padding-right: 10px
    padding-bottom: 35px
    position: relative
    +r(768)
      width: 80px
    +r(480)
      display: none
    &:after
      content: ''
      position: absolute
      bottom: -1px
      left: 0
      right: 0
      height: 2px
      background-color: $color-primary

  &__text
    width: (11/12)*100%
    color: #777
    line-height: (24/15)
    padding-bottom: 35px
    flex-grow: 1
    position: relative
    z-index: 1

  &__bottom
    margin-top: 15px

  &__name
    color: #333

  &__time
    font-size: 13px
    color: #afafaf


.review-form
  margin-top: 40px
  &__title
    font-size: 22px
    color: #333
    margin-bottom: 35px

  .form-line
    margin-top: 20px

  .field
    input
      max-width: 570px

  &__btn-wrap
    margin-top: 35px

  .btn
    max-width: 165px

