.not-found
  max-width: 767px
  margin: 30px auto
  display: flex
  align-items: center
  justify-content: space-between
  +r(768)
    max-width: 480px
    text-align: center
    flex-direction: column

  &__img
    width: 50%
    box-sizing: border-box
    padding-right: 15px
    +r(768)
      width: auto
      padding-right: 0
    +r(480)
      img
        max-width: 200px

  &__text
    width: 50%
    box-sizing: border-box
    padding-left: 15px
    +r(768)
      width: auto
      padding-left: 0

  &__title
    font-size: 60px
    font-weight: 700
    color: #333
    margin-bottom: 30px
    +r(480)
      margin-bottom: 15px
      font-size: 42px

  p
    font-size: 18px
    line-height: (30/18)
    color: #777
    margin: 30px 0
    +r(480)
      margin: 15px 0
      font-size: 16px

  .btn
    width: 100%
    max-width: 180px
