mixin search(plc, list)
  +b.search&attributes(attributes)
    form(action="/")
      +e.wrap
        +e.input
          if list
            input(type="text", name="search", placeholder=plc, autocomplete="off")
          else
            input(type="text", name="search", placeholder=plc)
        button(type="submit")
          +b.I.icon._search
        if list
          +e.dropdown
            +list-scroll(list)
