.search
  &__wrap
    display: flex
    align-items: stretch
    position: relative

  &__input
    flex-grow: 1
    display: flex
    position: relative

    .error
      position: absolute
      z-index: 2
      top: 100%
      left: 0
      right: 0
      padding: 5px
      background-color: #fff
      border: 1px solid $color-gray
      span
        font-size: 12px
        display: block
        text-align: left
        color: #e95547
        margin-top: 2px

  input
    flex-grow: 1
    height: 51px
    padding: 0 20px
    box-sizing: border-box
    margin: 0
    border: 0 none
    border-top: 1px solid $color-gray
    border-left: 1px solid $color-gray
    border-bottom: 1px solid $color-gray
    display: block
    outline: none
    color: #333
    font-family: "Roboto Condensed", sans-serif
    font-size: 15px
    &:placeholder
      color: #aeaeae
      font-family: "Roboto Condensed", sans-serif
      font-size: 15px

  button
    width: 51px
    height: 51px
    margin: 0
    padding: 0
    flex-basis: 51px
    display: block
    border: 0 none
    cursor: pointer
    background-color: $color-primary
    &:hover
      background-color: #ee7065


  &__dropdown
    position: absolute
    top: 100%
    background-color: #fff
    left: 0
    right: 51px
    border: 1px solid $color-gray
    box-sizing: border-box
    padding: 15px 25px
    display: none
    z-index: 10

    .list-scroll
      max-height: 300px
    
      li
        line-height: (20/14)
        span
          color: $color-primary