.main-reviews
  padding: 55px 0
  line-height: (24/15)

  &__title
    font-size: 24px
    color: #333
    margin-bottom: 30px
    line-height: 1
    +r(980)
      margin-bottom: 15px

  &__desc
    margin-bottom: 30px
    +r(980)
      margin-bottom: 15px

  &__wrap
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    margin: 0 -15px

  &__col
    width: 33.3333%
    padding: 0 15px
    box-sizing: border-box
    +r(980)
      width: 50%
    +r(660)
      width: 100%
      margin-bottom: 25px
    &:nth-child(1)
      +r(980)
        width: 100%
        margin-bottom: 35px
      +r(660)
        margin-bottom: 25px

.main-review-item
  border-left: 1px solid $color-gray
  padding-left: 30px
  +r(480)
    padding-left: 20px

  &__text
    margin: 15px 0
    position: relative
    &:after
      content: ''
      position: absolute
      top: 4px
      bottom: 4px
      left: -31px
      width: 2px
      background-color: $color-primary
      +r(480)
        left: -21px

  &__bottom
    margin-top: 25px

  &__name
    color: #333

  &__time
    font-size: 13px
    color: #afafaf