.catagory-list
  ul
    border-bottom: 1px solid $color-gray

  li
    border-left: 1px solid $color-gray
    border-right: 1px solid $color-gray
    border-top: 1px solid $color-gray
    box-sizing: border-box
    &.active
      a
        color: $color-primary
        &:after
          bottom: 0

  a
    display: block
    padding: 14px 15px
    color: #333
    position: relative
    &:after
      content: ''
      position: absolute
      top: 0
      bottom: 100%
      left: -1px
      width: 2px
      background-color: $color-primary
      transition: bottom .3s ease-in-out


    &:hover
      color: $color-primary
      &:after
        bottom: 0

.mobile-category
  position: relative
  &.active
    .mobile-category
      &__current
        background-color: #f4f4f4
  &__current
    border: 1px solid $color-gray
    height: 40px
    line-height: 38px
    padding: 0 35px 0 20px
    color: #333
    &:after
      content: ''
      position: absolute
      top: 50%
      margin-top: -4px
      right: 19px
      width: 3px
      height: 3px
      border-bottom: 2px solid #333
      border-right: 2px solid #333
      transform: rotate(45deg)



  &__dropdown
    display: none
    position: absolute
    z-index: 10
    top: 100%
    background-color: #fff
    right: 0
    width: 250px
    +r(660)
      right: auto
      left: 0

