.main-faq
  background-color: #f4f4f4
  padding: 60px 0 75px

  &__title
    font-size: 20px
    font-weight: 700
    text-transform: uppercase
    text-align: center
    color: #333

  .accordion
    margin-top: 20px

.accordion
  &__item
    border-bottom: 1px solid #d8d8d8
    &.active
      .accordion
        &__head
          color: $color-primary
          &:after
            transform: rotate(180deg)
            border-top-color: $color-primary
  &__head
    text-transform: uppercase
    font-weight: 700
    color: #333
    padding: 25px 20px 25px 0
    cursor: pointer
    transition: color .2s ease-in-out
    position: relative
    line-height: 1.1
    &:after
      content: ''
      position: absolute
      top: 50%
      margin-top: -2px
      right: 0
      border-top: 5px solid #333
      border-right: 5px solid transparent
      border-left: 5px solid transparent
      transition: transform .2s ease-in-out

  &__body
    line-height: (20/15)
    padding-bottom: 35px