.main-slider
  .swiper-pagination
    position: absolute
    width: auto
    left: auto
    right: 34%
    bottom: 50px
    font-size: 18px
    color: #fda49c
    +r(660)
      right: 20px
      bottom: 20px
    +r(480)
      font-size: 16px
    &-current
      color: #fff
      font-size: 36px
      +r(480)
        font-size: 20px

  &__nav
    position: absolute
    bottom: 40px
    right: 40px
    z-index: 10
    +r(660)
      bottom: auto
      right: 0
      top: 50%
      left: 0
      height: 0

  &_city

    .main-slider
      &__nav
        bottom: 40px
        right: 40px
        +r(768)
          bottom: 30px
        +r(660)
          bottom: auto
          right: 0

    .swiper-pagination
      left: 45px
      right: auto
      +r(768)
        bottom: 40px
      +r(660)
        display: none

    .slider-nav
      background-color: transparent
      +r(660)
        border: 0 none
        background-color: $color-primary




  &__slide-bottom
    background-color: $color-primary
    color: #eeefe5
    font-size: 24px
    padding: 40px 160px 40px 130px
    +r(768)
      font-size: 18px
    +r(660)
      padding: 20px
    +r(480)
      font-size: 16px

  &__slide-text
    position: relative
    padding-left: 30px
    +r(660)
      padding-left: 0
      &:after
        display: none
    &:after
      content: ''
      position: absolute
      top: 0
      bottom: 0
      left: 0
      width: 1px
      background-color: #f6968d


.slider-nav
  cursor: pointer
  border: 1px solid #f28b81
  width: 49px
  height: 49px
  line-height: 47px
  border-radius: 50%
  text-align: center
  display: inline-block
  background-color: $color-primary
  margin-left: 5px
  +r(660)
    position: absolute
    top: 50%
    margin-left: 0
    margin-top: -24px
    background-color: transparent
  &_prev
    +r(660)
      left: -25px
      .icon
        position: relative
        right: -7px
  &_next
    +r(660)
      right: -25px
      .icon
        position: relative
        left: -8px
  &:hover
    border-color: #fff



