.vantage
  background-color: $color-primary
  color: #fff
  padding: 60px 0

  &__title
    font-size: 20px
    text-transform: uppercase
    font-weight: 700
    text-align: center

  &__list
    display: flex
    justify-content: space-between
    align-items: center
    flex-wrap: wrap
    max-width: 1140px
    margin: 40px auto 0
    +r(1040)
      justify-content: center

  &__item
    flex-basis: 330px
    display: flex
    align-items: center
    justify-content: flex-start
    font-size: 15px
    line-height: (20/15)
    margin: 15px 0
    +r(1040)
      padding: 0 15px

    .icon
      flex: none
      margin-right: 30px
