.counter
  display: flex
  align-items: center
  &__label
    margin-right: 10px
    color: #999
  
  &__wrap
    border: 1px solid $color-gray
    display: flex
    align-items: stretch

  &__minus,
  &__plus
    flex-grow: 1
    width: 33px
    height: 35px
    text-align: center
    border: 0 none
    background-color: transparent
    cursor: pointer
    outline: none
    &:hover
      .icon_minus
        +sprite($icon-minus-hover)
      .icon_plus
        +sprite($icon-plus-hover)

  &__field
    border: 0 none
    background: none
    flex-grow: 1
    max-width: 33px
    height: 35px
    text-align: center
    outline: none