mixin counter()
  +b.counter
    +e.label Количество:
    +e.wrap
      +e.BUTTON.minus(type="button")
        +b.I.icon._minus
      +e.INPUT.field(type="text", value="1")
      +e.BUTTON.plus(type="button")
        +b.I.icon._plus