mixin breadcrumbs(items)
  // BEGIN BREADCRUMBS 
  +b.breadcrumbs
    ul(itemscope, itemtype="http://schema.org/BreadcrumbList")
      each item, index in items
        li(itemprop="itemListElement", itemscope, itemtype="http://schema.org/ListItem")
          a(href="#", itemprop="item")
            span(itemprop="name")= item
          meta(itemprop="position", content=index+1)
  // END BREADCRUMBS 
