.breadcrumbs
  margin: 30px 0 15px
  color: #999
  font-size: 14px

  li
    display: inline-block
    margin: 5px 0
    &:last-child
      a
        color: #333

  li+li
    &:before
      content: '»'
      display: inline-block
      margin-right: 9px
      margin-left: 7px

  a
    color: #999
    &:hover
      color: $color-primary



