.city
  display: inline-block
  position: relative
  +r(480)
    display: block
  &.active
    .city
      &__current
        color: $color-primary
        &:after
          border-top-color: $color-primary
  &__current
    white-space: nowrap
    position: relative
    padding-right: 10px
    color: $color-primary2
    cursor: pointer
    &:hover
      color: $color-primary
      &:after
        border-top-color: $color-primary
    &:after
      content: ''
      position: absolute
      top: 50%
      margin-top: -1px
      right: 0
      border-top: 4px solid $color-primary2
      border-left: 4px solid transparent
      border-right: 4px solid transparent

  &__dropdown
    display: none
    position: absolute
    left: 50%
    margin-left: -170px
    top: 100%
    background-color: #fff
    width: 340px
    padding: 35px
    background-image: url(../images/line-pattern.jpg)
    background-repeat: repeat-x
    background-position: 50% 100%
    box-sizing: border-box
    z-index: 5
    margin-top: 10px
    box-shadow: 0 5px 10px rgba(#000, .21)
    +r(580)
      margin-left: -250px
    +r(480)
      margin-left: -195px
      max-width: 315px
    &:after
      content: ''
      position: absolute
      bottom: 100%
      left: 50%
      margin-left: -7px
      border-bottom: 8px solid #fff
      border-left: 7px solid transparent
      border-right: 7px solid transparent

  .list-scroll
    max-height: 300px
    margin-bottom: 10px
    +r(480)
      max-height: 200px

    li
      display: none
    .is-show
      display: block

  &__notfound
    margin: 10px 0



