.hit
  margin-bottom: 50px
  
  &__slides
    padding: 0 15px
    margin: 0 -15px
    overflow: visible
    z-index: 2

  &__slides-wrap
    position: relative
    overflow: hidden
    padding: 15px
    margin: 0 -15px

  .swiper-wrapper
    align-items: stretch

  &__slide
    display: flex
    align-items: stretch
    flex-grow: 1
    height: 100%
    justify-content: space-between
    align-self: stretch
    height: auto
    border-left: 1px solid $color-gray
    border-top: 1px solid $color-gray
    border-bottom: 1px solid $color-gray
    box-sizing: border-box
    opacity: 0
    &.slide-in-container
      opacity: 1
    &:hover
      .product-card
        position: absolute
        top: -15px
        bottom: -15px
        left: -15px
        right: -15px
        z-index: 20
        background-color: #f00

    .product-card
      flex-grow: 1


  &__popuver
    position: absolute
    top: 0
    left: 0
    right: 0
    background-color: #f00
    display: none
    box-shadow: 0 5px 27px rgba(#000, .11)