.wholesale
  display: flex
  justify-content: space-between
  margin: 0 -15px
  padding-bottom: 30px
  flex-wrap: wrap


  &__text
    flex-grow: 1
    width: (8/12)*100%
    padding: 0 15px
    box-sizing: border-box
    +r(980)
      width: (7/12)*100%
    +r(768)
      width: 100%

  &__form
    flex-grow: 1
    width: (4/12)*100%
    padding: 0 15px
    box-sizing: border-box
    +r(980)
      width: (5/12)*100%
    +r(768)
      width: 100%
      margin-bottom: 20px

  &__form-title
    font-size: 30px
    color: $color-primary
    font-weight: 700
    line-height: 1.2
    margin-bottom: 10px

  &__form-desc
    margin-bottom: 35px

  .form-line
    margin: 20px 0 0

  .content
    +r(768)
      margin-bottom: 15px
