extends _base

block content
  .container
    +breadcrumbs(['Главная', 'Ошибка 404'])
    // BEGIN NOT FOUND 
    +b.not-found
      +e.img
        img(src="images/404.png", alt="")
      +e.text
        +e.title Ошибка 404
        p Неправильно набран адрес, или такой страницы на сайте больше не существует.
        +b.A.btn._default(href="#") Главная страница
    // END NOT FOUND 

