include _assets/bemto/bemto

include head/head
include header/header
include footer/footer

include breadcrumbs/breadcrumbs
include search/search
include list/list
include pagination/pagination
include counter/counter
include catalog/product-card
include catalog/product-card-slide
include main-map/main-map

doctype html
html(lang="ru")

	block classname
		-var cartActive = ''
		-var navItemActive = 0

	block head
		head
			+head({
				"title": "Constructional",
				"author": "",
				"description": ""
			})
			
		+b.BODY.page
			+e.wrap
				+e.content
					block header
						+header
					block content
						div content

				+e.footer
					block footer
						+footer

				block popup
					+b.popup-call.mfp-hide#popup-call
						form(action="/")
							+e.title Заказать обратный звонок
							.form-line
								+b.field
									input(type="text", placeholder="Ваше имя", name="name")
							.form-line
								+b.field
									input(type="text", placeholder="Телефон", name="phone")
							+e.btn-wrap
								+b.BUTTON.btn._primary(type="submit") Заказать звонок
					+b.popup-call.mfp-hide#popup-call-success
						+e.title Спасибо!
						p Наш менеджер свяжется с вами в ближайшее время.



			block vendors
				// build:js js/vendor.js
				script( src="_assets/jquery/dist/jquery.min.js")
				script( src="_assets/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js")
				script( src="_assets/magnific-popup/dist/jquery.magnific-popup.min.js")
				script( src="_assets/jquery-validation/dist/jquery.validate.min.js")
				script( src="_assets/swiper/dist/js/swiper.min.js")
				// endbuild
			block scripts
				// build:js js/main.js
				script( src="js/main.js")
				// endbuild
