extends _base
block classname
  -var navItemActive = 2
block content
  .container
    +b.layout._catalog
      +e.sidebar
        +b.NAV.catagory-list
          ul
            li
              a(href="catalog.html") Бренды конструкторов
            li
              a(href="catalog.html") Деревянные конструкторы
            li
              a(href="catalog.html") Картонные конструкторы
            li
              a(href="catalog.html") Конструкторы Лего
            li
              a(href="catalog.html") Конструкторы для малышей
            li
              a(href="catalog.html") Конструкторы из кирпичиков
            li
              a(href="catalog.html") Магнитные конструкторы
            li
              a(href="catalog.html") Металлические конструкторы
            li
              a(href="catalog.html") Мягкие конструкторы
            li
              a(href="catalog.html") Пластмассовые конструкторы
            li
              a(href="catalog.html") Распродажа
      +e.main
        // BEGIN CATALOG 
        +b.catalog
          +breadcrumbs(['Главная', 'Каталог', 'Магнитные конструкторы'])
          +e.head
            +e.title Магнитные конструкторы
            +e.mobile-category
              +b.mobile-category
                +e.current Все категории
                +e.dropdown
                  +b.NAV.catagory-list
                    ul
                      li
                        a(href="catalog.html") Бренды конструкторов
                      li
                        a(href="catalog.html") Деревянные конструкторы
                      li
                        a(href="catalog.html") Картонные конструкторы
                      li
                        a(href="catalog.html") Конструкторы Лего
                      li
                        a(href="catalog.html") Конструкторы для малышей
                      li
                        a(href="catalog.html") Конструкторы из кирпичиков
                      li
                        a(href="catalog.html") Магнитные конструкторы
                      li
                        a(href="catalog.html") Металлические конструкторы
                      li
                        a(href="catalog.html") Мягкие конструкторы
                      li
                        a(href="catalog.html") Пластмассовые конструкторы
                      li
                        a(href="catalog.html") Распродажа
          +e.nav
            +e.nav-side
              +b.select(data-placeholder="Пол")
                input(type="hidden")
                -
                  var list = [
                    {
                      text: 'Мальчикам'
                    },
                    {
                      text: 'Девочкам'
                    },
                  ];
                +e.current Пол
                +e.dropdown
                  +e.all Показать все
                  +b.list-scroll
                    ul
                      each item in list
                        li(data-value="item.text")!= item.text
              +b.select(data-placeholder="Возраст")
                input(type="hidden")
                -
                  var list = [
                    {
                      text: '1-3'
                    },
                    {
                      text: '3-5'
                    },
                    {
                      text: '5-7'
                    },
                    {
                      text: '7-10'
                    },
                  ];
                +e.current Возраст
                +e.dropdown
                  +e.all Показать все
                  +b.list-scroll
                    ul
                      each item in list
                        li(data-value="item.text")!= item.text
              +b.select(data-placeholder="Бренд")
                input(type="hidden")
                -
                  var list = [
                    {
                      text: 'MAGPLAYER'
                    },
                    {
                      text: 'PLAYMAGS'
                    },
                    {
                      text: 'MAGPLAYER'
                    },
                    {
                      text: 'PLAYMAGS'
                    },
                  ];
                +e.current Бренд
                +e.dropdown
                  +e.all Показать все
                  +b.list-scroll
                    ul
                      each item in list
                        li(data-value="item.text")!= item.text
              +b.select(data-placeholder="Цена")
                input(type="hidden")
                -
                  var list = [
                    {
                      text: 'от 1000'
                    },
                    {
                      text: 'от 2000 до 3000'
                    },
                    {
                      text: 'от 3000 до 5000'
                    },
                    {
                      text: 'от 5000'
                    },
                  ];
                +e.current Цена
                +e.dropdown
                  +e.all Показать все
                  +b.list-scroll
                    ul
                      each item in list
                        li(data-value="item.text")!= item.text
              +b.select(data-placeholder="Герои")
                input(type="hidden")
                -
                  var list = [
                    {
                      text: 'Barbie'
                    },
                    {
                      text: 'Batman'
                    },
                    {
                      text: 'Disney Mickey Mause'
                    },
                    {
                      text: 'Disney Princess'
                    },
                    {
                      text: 'LBX'
                    },
                    {
                      text: 'Marvel Heroes'
                    },
                    {
                      text: 'Disney Mickey Mause'
                    },
                    {
                      text: 'Disney Princess'
                    },
                    {
                      text: 'LBX'
                    },
                    {
                      text: 'Marvel Heroes'
                    },
                    {
                      text: 'Marvel Heroes'
                    },
                    {
                      text: 'Disney Mickey Mause'
                    },
                    {
                      text: 'Disney Princess'
                    },
                    {
                      text: 'LBX'
                    },
                    {
                      text: 'Marvel Heroes'
                    },
                  ];
                +e.current Герои
                +e.dropdown
                  +e.all Показать все
                  +b.list-scroll
                    ul
                      each item in list
                        li(data-value="item.text")!= item.text

            +e.nav-side
              +b.select(data-placeholder="Сортировка")
                input(type="hidden")
                -
                  var list = [
                    {
                      text: 'Цена по возростанию'
                    },
                    {
                      text: 'Цена по убыванию'
                    },
                    {
                      text: 'По размеру скидки'
                    },
                    {
                      text: 'По отзывам'
                    },
                  ];
                +e.current Сортировка
                +e.dropdown
                  +e.all Популярные товары
                  +b.list-scroll
                    ul
                      each item in list
                        li(data-value="item.text")!= item.text
              
              +e.nav-type
                +b.view-type
                  +e.LABEL.item
                    input(type="radio" name="view-type", checked, value="grid")
                    span
                      +b.I.icon._grid

                  +e.LABEL.item
                    input(type="radio" name="view-type", value="list")
                    span
                      +b.I.icon._list

          +e.list
            -for(var i = 0; i < 12; i++)
              +e.col
                +product-card

          +e.bottom
            +b.A.btn._default.__all(href="catalog.html") Посмотреть все

            +pagination

        // END CATALOG 
  
    // BEGIN CATALOG-SEO
    +b.catalog-seo
      .content
        h2 Магнитные конструкторы Супер заголовок
        p Если вы хотите порадовать ребенка интересным подарком, который будет востребован долгое время, развивать мышление и мелкую моторику, то магнитный конструктор из 102 детали – идеальный вариант.
        img(alt="" src="../images/overview-2.jpg" style="width: 300px; height: 300px; margin-left: 20px; margin-bottom: 10px; float: right;")
        p Поклонники  магнитных конструкторов признаются, что собирать их одно удовольствие, процесс затягивает и со временем встает вопрос об увеличении количества деталей. Так вот этот набор отлично подходит для первого знакомства. Впоследствии вы всегда можете докупить еще деталей, которые будут совместимы с ним.
        img(alt="" src="../images/overview-3.jpg" style="width: 300px; height: 300px; margin-right: 20px; margin-bottom: 10px; float: left;")
        p Из конструктора ребенок сможет построить сложные объемные геометрические фигуры, строения, транспорт. Занятия с конструктором увлекут его надолго. Заказывайте!
        p Поклонники  магнитных конструкторов признаются, что собирать их одно удовольствие, процесс затягивает и со временем встает вопрос об увеличении количества деталей. Так вот этот набор отлично подходит для первого знакомства. Впоследствии вы всегда можете докупить еще деталей, которые будут совместимы с ним.
        p Из конструктора ребенок сможет построить сложные объемные геометрические фигуры, строения, транспорт. Занятия с конструктором увлекут его надолго. Заказывайте!
        p Поклонники  магнитных конструкторов признаются, что собирать их одно удовольствие, процесс затягивает и со временем встает вопрос об увеличении количества деталей. Так вот этот набор отлично подходит для первого знакомства. Впоследствии вы всегда можете докупить еще деталей, которые будут совместимы с ним.
        p Из конструктора ребенок сможет построить сложные объемные геометрические фигуры, строения, транспорт. Занятия с конструктором увлекут его надолго. Заказывайте!

    // END CATALOG-SEO