extends _base

block classname
  -var cartActive = 'active'

block content
  .container
    +breadcrumbs(['Главная', 'Корзина'])
    // BEGIN CHECKOUT 
    +b.checkout
      +e.title Корзина
      +e.list
        +b.checkout-item
          +e.BUTTON.remove(type="button")
            +b.I.icon._remove
          +e.pair
            +e.preview
              img(src="images/product1.jpg", alt="")
            +e.desc
              +e.A.manufacturer(href="#") MAGPLAYER
              +e.text Конструктор магнитный набор 112 эл.
          +e.pair
            +e.count
              +counter
            +e.price 2 850
              +b.SPAN.rub a
        +b.checkout-item
          +e.BUTTON.remove(type="button")
            +b.I.icon._remove
          +e.pair
            +e.preview
              img(src="images/product1.jpg", alt="")
            +e.desc
              +e.A.manufacturer(href="#") PLAYMAGS
              +e.text Конструктор магнитный набор 112 эл.
          +e.pair
            +e.count
              +counter
            +e.price 2 850
              +b.SPAN.rub a


      +e.total Всего к оплате:  6 550
        +b.SPAN.rub a 

      +b.checkout-form
        form
          +e.wrap
            +e.col
              +e.title Чтобы оформить заказ:
              ol
                li Свяжитесь с нами по телефону 
                  br
                  a(href="tel:88006704280") 8 (800) 670-42-80
                li Либо заполните форму заказа
            +e.form
              .form-line
                +b.field
                  input(type="text", placeholder="Имя и фамилия*", name="name", required)
              .form-line
                +b.field
                  input(type="tel", placeholder="Номер телефона*", name="phone", required)
              .form-line
                +b.field
                  input(type="text", placeholder="Город", name="city")
              .form-line
                +b.field
                  textarea(name="message", rows="5", placeholder="Ваше сообщение")
              .form-required *поля обязательные для заполнения
              +e.btn-wrap
                +b.BUTTON.btn._primary(type="submit") Оформить заказ
            +e.col._shipping
              +b.checkout-shipping
                +e.title Варианты доставки:
                +e.line
                  +b.LABEL.checkbox
                    input(type="checkbox")
                    span Забрать в пункте выдачи
                      br
                      span.color-primary Доступно сегодня
                      br
                      span.color-primary2 Адрес: г. Москва, Комсомольская площадь, 1а ст.4
                +e.line
                  +b.LABEL.checkbox
                    input(type="checkbox")
                    span Доставка курьером
                      br
                      span.color-primary Доступно сегодня

    // END CHECKOUT 
