extends _base

block classname
  -var navItemActive = 6

block content
  .container
    +breadcrumbs(['Главная', 'Контакты'])
    // BEGIN CONTACT 
    +b.contact
      +e.title Контакты

      // BEGIN NAV SMALL
      +b.nav-small
        ul
          li.active
            a(href="contact.html") Контакты
          li
            a(href="requisites.html") Реквизиты
      // END NAV SMALL

      
      // BEGIN CONTACT CITY
      +b.contact-city
        +e.wrap
          +e.city
            +e.label Город:
            +e.text
              a(href="index-city.html") Санкт-Петербург
          +e.market-list
            +e.market
              +e.id
                +e.label &nbsp;
                +e.text Магазин 1
              +e.part-wrap
                +e.part
                  +e.col
                    +e.label Адрес:
                    +e.text пер. Плетешковский, 7-9, стр.1 (ст. м. Бауманская)
                  +e.col._worktime
                    +e.label Режим работы:
                    +e.text Пн—Пт: 08:00—22:00<br>Сб—Вс: 09:00—19:00
                  +e.col._call
                    +e.label Телефон (Call-центр):
                    +e.text
                      +e.A.link(href="tel:88006709002") 8 (800) 670-90-02
                +e.part
                  +e.col._email
                    +e.label E-mail:
                    +e.text
                      +e.A.link(href="mailto:info@info.com") info@info.com
                  +e.col._social
                    +e.label Группы в соцсетях:
                    +b.social
                      ul
                        li
                          a(href="#")
                            +b.I.icon._vk
                        li
                          a(href="#")
                            +b.I.icon._gp
                        li
                          a(href="#")
                            +b.I.icon._od
                        li
                          a(href="#")
                            +b.I.icon._tw
                        li
                          a(href="#")
                            +b.I.icon._fb
                        li
                          a(href="#")
                            +b.I.icon._in
            +e.market
              +e.id
                +e.label &nbsp;
                +e.text Магазин 2
              +e.part-wrap
                +e.part
                  +e.col
                    +e.label Адрес:
                    +e.text Ул.Красноармейская, 79/2
                  +e.col._worktime
                    +e.label Режим работы:
                    +e.text Пн—Пт: 08:00—22:00<br>Сб—Вс: 09:00—19:00
                  +e.col._call
                    +e.label Телефон (Call-центр):
                    +e.text
                      +e.A.link(href="tel:88006709002") 8 (800) 670-90-02
                +e.part
                  +e.col._email
                    +e.label E-mail:
                    +e.text
                      +e.A.link(href="mailto:info@info.com") info@info.com
                  +e.col._social
                    +e.label Группы в соцсетях:
                    +b.social
                      ul
                        li
                          a(href="#")
                            +b.I.icon._vk
                        li
                          a(href="#")
                            +b.I.icon._gp
                        li
                          a(href="#")
                            +b.I.icon._od

      // END CONTACT CITY

    // END CONTACT 

  // BEGIN SEARCH CITY MAP 
  +b.search-city-map
    .container
      +e.wrap
        +e.title Поиск города, в котором можно купить наши конструкторы.
        +search('Введите название города', true)
    +e.map(data-info='[{"data": { "city": "Москва", "address": "Ул. Красноармейская, 79/2", "phone": "+7 (820) 050-47-03", "worktime": "Пн-Пт : 10:00 - 20:00<br>Сб : 10:00 - 16:00<br>Вс : 10:00 - 14:00"}, "position": {"lat": 46.481974, "lng": 30.738917}}]', data-mapposition='{"lat": 46.481974, "lng": 30.738917}')#map-inner
  // END SEARCH CITY MAP 

block append scripts
  script(src="_assets/google-map-infobubble/src/infobubble-compiled.js")
  script(src="js/map.js")
  script(async, defer, src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCOLCLyNf78NPiHzZ23qp9wA1CTXFUoLwY&callback=initInnerMap")


