extends _base

block classname
  -var navItemActive = 6

block content
  .container
    +breadcrumbs(['Главная', 'Контакты'])
    // BEGIN CONTACT 
    +b.contact
      +e.title Контакты

      // BEGIN NAV SMALL
      +b.nav-small
        ul
          li.active
            a(href="contact.html") Контакты
          li
            a(href="requisites.html") Реквизиты
      // END NAV SMALL

      // BEGIN SEARCH CONTACT
      +b.search-contact
        +e.wrap
          +e.search
            +e.title Поиск города
            +search('Введите город', true)
            +e.address
              +b.map-address.active
                +e.city Санкт-Петербург
                +e.A.phone(href="tel:+78200504703") +7 (820) 050-47-03
                +e.address Ул. Красноармейская, 79/2
                +e.worktime
                  span Работаем: 
                  +e.SPAN.worktime-list Пн — Пт : 10:00 — 20:00 <br>Сб : 10:00 — 16:00<br>Вс : 10:00 — 14:00
          +e.desc
            +e.subtitle Наши магазины в 68 городах России
            p Уже сегодня у вас есть прекрасная возможность получить свой заказ в Екатеринбурге, Новокузнецке, Туле, Ижевске, Калининграде, Ставрополе, Волгограде, Владивостоке, Москве, Омске и еще 22 городах в различных федеральных округах России. Если у вас возникли дополнительные вопросы, предложения или замечания, мы с радостью готовы вас выслушать. Для того чтобы получить необходимую информацию, свяжитесь с нами по тел. 8 (800) 200-85-66 для обслуживания клиентов по предварительным продажам и послепродажным вопросам.
      // END SEARCH CONTACT
      
      // BEGIN CONTACT CITIES
      +b.contact-cities
        +e.title Города, где можно купить КОНСТРУКТОРЫ
        +e.wrap
          -
            var list = ['Центральный ФО', 'Северо-Западный ФО', 'Приволжский ФО', 'Сибирский ФО'];

          each item in list
            +e.col
              +e.caption=item
              +b.table-wrap
                table
                  thead
                    tr
                      th Город
                      th Адрес 
                      th Телефон
                  tbody
                    tr
                      td
                        a(href="contact-city.html") г. Балашиха
                      td
                        a(href="contact-city.html") ул. Советская, 56
                      td
                        a(href="contact-city.html") 8(800) 200-85-66
                    tr
                      td
                        a(href="contact-city.html") г. Белгород 
                      td
                        a(href="contact-city.html") ул. Харьковская, 34
                      td
                        a(href="contact-city.html") 8(472) 377-72-65
                    tr
                      td
                        a(href="contact-city.html") г. Брянск   
                      td
                        a(href="contact-city.html") ул. ул. Дуки, 65
                      td
                        a(href="contact-city.html") 8(483) 259-01-34
                    tr
                      td
                        a(href="contact-city.html") г. Владимир   
                      td
                        a(href="contact-city.html") ул. пр. Октябрьский, 7
                      td
                        a(href="contact-city.html") 8(492) 422-20-14
                    tr
                      td
                        a(href="contact-city.html") г. Воронеж    
                      td
                        a(href="contact-city.html") ул. пр-т Труда, 46А
                      td
                        a(href="contact-city.html") 8(800) 200-85-66
                    tr
                      td
                        a(href="contact-city.html") г. Иваново    
                      td
                        a(href="contact-city.html") ул. ул. Лежневская, 183
                      td
                        a(href="contact-city.html") 8(472) 377-72-65
                    tr
                      td
                        a(href="contact-city.html") г. Калуга 
                      td
                        a(href="contact-city.html") ул. ул. Большая Октябрьская, 39/2
                      td
                        a(href="contact-city.html") 8(483) 259-01-34
                    tr
                      td
                        a(href="contact-city.html") г. Кострома   
                      td
                        a(href="contact-city.html") ул. Настасьинский пер, д.8, стр. 2
                      td
                        a(href="contact-city.html") 8(492) 422-20-14
                    tr
                      td
                        a(href="contact-city.html") г. Курск  
                      td
                        a(href="contact-city.html") ул. ул. Моршанское шоссе, 17Г 
                      td
                        a(href="contact-city.html") 8(800) 200-85-66
                    tr
                      td
                        a(href="contact-city.html") г. Липецк 
                      td
                        a(href="contact-city.html") ул. ул. Советская, 56
                      td
                        a(href="contact-city.html") 8(472) 377-72-65
                    tr
                      td
                        a(href="contact-city.html") г. Москва 
                      td
                        a(href="contact-city.html") ул. Харьковская, 34
                      td
                        a(href="contact-city.html") 8(483) 259-01-34
                    tr
                      td
                        a(href="contact-city.html") г. Москва   
                      td
                        a(href="contact-city.html") ул. ул. Дуки, 65
                      td
                        a(href="contact-city.html") 8(492) 422-20-14
                    tr
                      td
                        a(href="contact-city.html") г. Орел 
                      td
                        a(href="contact-city.html") ул. пр. Октябрьский, 7
                      td
                        a(href="contact-city.html") 8(800) 200-85-66
                    tr
                      td
                        a(href="contact-city.html") г. Рязань   
                      td
                        a(href="contact-city.html") ул. пр-т Труда, 46А
                      td
                        a(href="contact-city.html") 8(472) 377-72-65
      // END CONTACT CITIES

    // END CONTACT 

  // BEGIN INNER MAP 
  +b.inner-map
    .container
      +e.title Купить конструктор в Воронеже
    +e.map(data-info='[{"data": { "city": "Москва", "address": "Ул. Красноармейская, 79/2", "phone": "+7 (820) 050-47-03", "worktime": "Пн-Пт : 10:00 - 20:00<br>Сб : 10:00 - 16:00<br>Вс : 10:00 - 14:00"}, "position": {"lat": 46.481974, "lng": 30.738917}}]', data-mapposition='{"lat": 46.481974, "lng": 30.738917}')#map-inner
  // END INNER MAP 

block append scripts
  script(src="_assets/google-map-infobubble/src/infobubble-compiled.js")
  script(src="js/map.js")
  script(async, defer, src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCOLCLyNf78NPiHzZ23qp9wA1CTXFUoLwY&callback=initInnerMap")

