extends _base

block classname
  -var navItemActive = 3

block content
  .container
    +breadcrumbs(['Главная', 'Как купить?'])
    // BEGIN HOW TO ORDER 
    +b.how-to-order
      +e.title Как купить?
      +e.list
        +e.item
          +e.num 01
          +e.inner
            +e.subtitle Заказать
            p Оставьте заявку на сайте или позвоните нам
              br
              a(href="tel:88002008566") 8 (800) 200-85-66
        +e.item
          +e.num 02
          +e.inner
            +e.subtitle Подтвердить
            p Менеджер свяжеться с вами и ответит на все ваши вопросы
        +e.item
          +e.num 03
          +e.inner
            +e.subtitle Получить заказ
            p Забрать часы в пункте выдачи в вашем городе
        +e.item
          +e.num 04
          +e.inner
            +e.subtitle Результат
            p Вы и ваш ребенок получает массу удовольствия от покупки
      hr
      // BEGIN SHIPPING TYPE WRAP 
      +b.shipping-type-wrap
        // BEGIN SHIPPING TYPE 
        +b.shipping-type
          +e.title Самовывоз
          +b.line._line
          
          ol
            li Звонок
            li Консультация
            li Оформление заказ
            li Внесение предоплаты за доставку - 420 руб.
            li Получение товара в отделении Почты России
          hr
          ul
            li
              +b.I.icon._call
              span Телефон (Call-центр): 
              +e.A.phone(href="tel:88003337015") 8 (800) 333-70-15
            li
              +b.I.icon._mail
              span E-mail по общим вопросам: 
              +e.A.mail(href="mailto:info@info.ru") info@info.ru
            li
              +b.I.icon._work-time
              span Режим работы: 
              +e.work-time Пн — Пт : 10:00 — 20:00<br>Сб : 10:00 — 16:00<br>Вс : 10:00 — 14:00
        // END SHIPPING TYPE 
        // BEGIN SHIPPING TYPE 
        +b.shipping-type
          +e.title Доставка по городу
          +b.line._line
          
          ol
            li Звонок
            li Консультация
            li Оформление заказа
            li Получение в пункте выдачи в день заказа
          hr
          ul
            li
              +b.I.icon._call
              span Телефон (Call-центр): 
              +e.A.phone(href="tel:88003337015") 8 (800) 333-70-15
            li
              +b.I.icon._mail
              span E-mail по общим вопросам: 
              +e.A.mail(href="mailto:info@info.ru") info@info.ru
            li
              +b.I.icon._work-time
              span Режим работы: 
              +e.work-time Пн — Пт : 10:00 — 20:00<br>Сб : 10:00 — 16:00<br>Вс : 10:00 — 14:00
        // END SHIPPING TYPE 
        // BEGIN SHIPPING TYPE 
        +b.shipping-type
          +e.title Доставка по Томской области
          +b.line._line
          
          ol
            li Звонок
            li Консультация
            li Оформление заказ
            li Внесение предоплаты за доставку
            li Получение товара в Пункте выдачи Сдэк
          hr
          ul
            li
              +b.I.icon._call
              span Телефон (Call-центр): 
              +e.A.phone(href="tel:88003337015") 8 (800) 333-70-15
            li
              +b.I.icon._mail
              span E-mail по общим вопросам: 
              +e.A.mail(href="mailto:info@info.ru") info@info.ru
            li
              +b.I.icon._work-time
              span Режим работы: 
              +e.work-time Пн — Пт : 10:00 — 20:00<br>Сб : 10:00 — 16:00<br>Вс : 10:00 — 14:00
        // END SHIPPING TYPE 
      // END SHIPPING TYPE WRAP 
    // END HOW TO ORDER 
