extends _base

block classname
  -var navItemActive = 1

block content
  // BEGIN MAIN SLIDER
  .container
    +b.layout._slider
      +e.sidebar
        +b.NAV.catagory-list
          ul
            li
              a(href="catalog.html") Бренды конструкторов
            li
              a(href="catalog.html") Деревянные конструкторы
            li
              a(href="catalog.html") Картонные конструкторы
            li
              a(href="catalog.html") Конструкторы Лего
            li
              a(href="catalog.html") Конструкторы для малышей
            li
              a(href="catalog.html") Конструкторы из кирпичиков
            li
              a(href="catalog.html") Магнитные конструкторы
            li
              a(href="catalog.html") Металлические конструкторы
            li
              a(href="catalog.html") Мягкие конструкторы
            li
              a(href="catalog.html") Пластмассовые конструкторы
            li
              a(href="catalog.html") Распродажа
      +e.main
        +b.main-slider._city
          +e.slides.swiper-container
            .swiper-wrapper
              +e.slide.swiper-slide
                img(src="images/slider-city-1.jpg", alt="")
                +e.slide-bottom
                  +e.slide-text Магнитные конструкторы в наличии в 58 городах России
              +e.slide.swiper-slide
                img(src="images/slider-city-2.jpg", alt="")
                +e.slide-bottom
                  +e.slide-text Объявляем скидку до 20% на лучшие наборы Магформерс!
              +e.slide.swiper-slide
                img(src="images/slider-city-3.jpg", alt="")
                +e.slide-bottom
                  +e.slide-text Новинка Магформерс – увлекателный конструтор «Кликформерс».
            .swiper-pagination
            +e.nav
              +b.slider-nav._prev
                +b.I.icon._slider-nav-prev
              +b.slider-nav._next
                +b.I.icon._slider-nav-next

  // END MAIN SLIDER

  .container
    // BEGIN HIT
    +b.hit
      +product-card-slide('Хиты продаж', 1)#hit

    // END HIT

    // BEGIN SPECIAL
    +b.special
      +e.title СПЕЦИАЛЬНОЕ ПРЕДЛОЖЕНИЕ
      +e.list
        +e.item
          a(href="#", style="background-image: url(images/special-1.jpg)")
            p При покупке от 500 руб. <br>набор резиночек для плетения LOOM BANDS 
            +e.item-title в подарок!
        +e.item
          a(href="#", style="background-image: url(images/special-2.jpg)")
            p На все конструкторы <br>Waveplay 
            +e.item-title Скидки до 70%
        +e.item
          a(href="#", style="background-image: url(images/special-3.jpg)")
            p При покупке набора <br>магнитного конструктора MagKiss 42 
            +e.item-title второй в подарок!
    // END SPECIAL

  
  
  // BEGIN MAIN YOUTUBE
  +b.main-youtube._no-border
    .container
      +e.wrap
        +e.text
          +b.I.icon._youtube
          +e.title Посмотрите видео, как это просто!
          p Мы сделали этот видеоролик, чтобы рассказать, на сколько сильно этот конструктор увлекает не только детей, но и взрослых. И показать, как просто и интересно можно воплотить в жизнь любую свою фантазию.
          p.color-primary Мы проверили конструктор на наших детях и теперь смело можем рекомендавать его Вам!
          +b.A.btn._default(href="videos.html") Посмотреть все видео
        +e.video
          +b.video-wrap
            iframe(src="https://www.youtube.com/embed/QKCtexYEZZY", allowfullscreen)

  // END MAIN YOUTUBE


  // BEGIN VANTAGE
  +b.vantage
    .container
      +e.title Почему у нас покупать приятно?
      +e.list
        +e.item
          +b.I.icon._cities
          p Всегда в наличии в 58 городах России. <br>Не нужно долго ждать достаки.
        +e.item
          +b.I.icon._guarantee
          p Гарантия качества. При обнаружении брака, мы немедленно обменяем товар на другой или вернем вам денги.
        +e.item
          +b.I.icon._discount
          p Регулярные акции и скидки до 70%.
  // END VANTAGE


  // BEGIN MAIN REVIEWS
  +b.main-reviews
    .container
      +e.wrap
        +e.col
          +e.title Отзывы наших покупателей
          +e.desc Если вы тоже уже купили конструктор и Вам он очень понравился, пожалуйста, оставьте отзыв. Это поможет другим родителям сделать правильный выбор. 
          +b.A.btn._default(href="reviews.html") Посмотреть все отзывы
        +e.col
          +b.main-review-item
            +e.quote
              +b.I.icon._quote
            +e.text
              p Очень довольна покупкой магнитного конструктора, хотя раньше думала, что им можно заинтересовать сына только на пару дней. Теперь почти каждый день что-то строим.
            +e.bottom
              +e.SPAN.name Елизавета 
              | | 
              +e.TIME.time(datetime="2018-02-25") 25 февраля 2018
        +e.col
          +b.main-review-item
            +e.quote
              +b.I.icon._quote
            +e.text
              p Довольны покупкой и работой магазина! До этого конструктора у нас уже был маленький конструктор Magformers, так что примерно представляли чего ожидать. 
            +e.bottom
              +e.SPAN.name Андрей 
              | | 
              +e.TIME.time(datetime="2018-02-25") 20 апреля 2018
  // END MAIN REVIEWS


  // BEGIN MAIN FAQ
  +b.main-faq
    .container
      +e.title Вопросы и ответы
      // BEGIN ACCORDION
      +b.accordion
        // BEGIN ACCORDION ITEM
        +e.item.active
          +e.head ПОДОЙДЕТ ЛИ КОНСТРУКТОР ДЛЯ РЕБЕНКА МЛАДШЕГО ВОЗРАСТА?
          +e.body Конструктор можно приобрести для ребенка младшего возраста, однако понадобится помощь родителей, чтоб создавать конструкции. Пластик, из которого выполнены детали, абсолютно нетоксичен и безопасен для детей. Конструктор невозможно сломать и повредить себя им. У деталей отсутствуют хрупкие крепления и составные части.
        // END ACCORDION ITEM
        // BEGIN ACCORDION ITEM
        +e.item
          +e.head НА СКОЛЬКО ДЕТАЛЕЙ ЛУЧШЕ КУПИТЬ КОНСТРУКТОР?
          +e.body(style="display: none;") Конструктор можно приобрести для ребенка младшего возраста, однако понадобится помощь родителей, чтоб создавать конструкции. Пластик, из которого выполнены детали, абсолютно нетоксичен и безопасен для детей. Конструктор невозможно сломать и повредить себя им. У деталей отсутствуют хрупкие крепления и составные части.
        // END ACCORDION ITEM
        // BEGIN ACCORDION ITEM
        +e.item
          +e.head МОЕМУ РЕБЕНКУ НРАВИТСЯ ЛЕГО, ПОНРАВИТСЯ ЛИ ЕМУ МАГНИТНЫЙ КОНСТРУКТОР?
          +e.body(style="display: none;") Конструктор можно приобрести для ребенка младшего возраста, однако понадобится помощь родителей, чтоб создавать конструкции. Пластик, из которого выполнены детали, абсолютно нетоксичен и безопасен для детей. Конструктор невозможно сломать и повредить себя им. У деталей отсутствуют хрупкие крепления и составные части.
        // END ACCORDION ITEM
        // BEGIN ACCORDION ITEM
        +e.item
          +e.head КОМУ БОЛЬШЕ ПОДОЙДЕТ КОНСТРУКТОР: МАЛЬЧИКАМ ИЛИ ДЕВОЧКАМ?
          +e.body(style="display: none;") Конструктор можно приобрести для ребенка младшего возраста, однако понадобится помощь родителей, чтоб создавать конструкции. Пластик, из которого выполнены детали, абсолютно нетоксичен и безопасен для детей. Конструктор невозможно сломать и повредить себя им. У деталей отсутствуют хрупкие крепления и составные части.
        // END ACCORDION ITEM
        // END ACCORDION
  // END MAIN FAQ

  .container
    // BEGIN MAIN FAQ
    +b.overview
      +e.desc
        +e.title Обзор Магнитного конструктора MINI Magical Magnet 102 детали
        .content
          p Если вы хотите порадовать ребенка интересным подарком, который будет востребован долгое время, развивать мышление и мелкую моторику, то магнитный конструктор из 102 детали – идеальный вариант.
          p Поклонники  магнитных конструкторов признаются, что собирать их одно удовольствие, процесс затягивает и со временем встает вопрос об увеличении количества деталей. Так вот этот набор отлично подходит для первого знакомства. Впоследствии вы всегда можете докупить еще деталей, которые будут совместимы с ним.
          p Из конструктора ребенок сможет построить сложные объемные геометрические фигуры, строения, транспорт. Занятия с конструктором увлекут его надолго. Заказывайте!
          table
            tr
              th Возраст: 
              td 2-14
            tr
              th Пол: 
              td M, Д
            tr
              th Страна: 
              td Китай
            tr
              th Тип: 
              td магнитный
            tr
              th Количество деталей: 
              td 102
            tr
              th Вес: 
              td 1,5 кг
            tr
              th  Размеры коробки (ДхШхВ): 
              td 390х290х70 мм
      +e.images
        +e.grid
          +e.grid-col
            img(src="images/overview-1.jpg", alt="")
          +e.grid-col
            img(src="images/overview-2.jpg", alt="")
          +e.grid-col
            img(src="images/overview-3.jpg", alt="")
    // END MAIN FAQ
  
  // BEGIN MAIN MAP
  +b.main-map
    .container
      +e.wrap
        +e.search
          +e.title Где можно купить <br>магнитный конструктор
          +b.search
            form(action="/")
              +e.wrap
                +e.input
                  input(type="text", name="search", placeholder="Введите город", autocomplete="off")
                button(type="submit")
                  +b.I.icon._search
                +e.dropdown
                  +b.list-scroll
                    ul
                      li(data-city-id="0") Санкт-Петербург
                      li(data-city-id="1") Москва
          +e.address
            +b.map-address.active
              +e.city Санкт-Петербург
              +e.A.phone(href="tel:+78200504703") +7 (820) 050-47-03
              +e.address Ул. Красноармейская, 79/2
              +e.worktime
                span Работаем: 
                +e.SPAN.worktime-list Пн — Пт : 10:00 — 20:00 <br>Сб : 10:00 — 16:00<br>Вс : 10:00 — 14:00
        +e.list-wrap
          +e.UL.list
            +e
              a(href="#") Асино
            +e
              a(href="#") Аткарск
            +e
              a(href="#") Ахтубинск
            +e
              a(href="#") Ачинск
            +e
              a(href="#") Аша
            +e
              a(href="#") Бабаево
            +e
              a(href="#") Бабушкин
            +e
              a(href="#") Ахтубинск
            +e
              a(href="#") Ачинск
            +e
              a(href="#") Аша
            +e
              a(href="#") Бабаево
            +e
              a(href="#") Бабушкин
            +e
              a(href="#") Ахтубинск
            +e
              a(href="#") Ачинск
            +e
              a(href="#") Бабаево
            +e
              a(href="#") Бабушкин
            +e
              a(href="#") Валдай
            +e
              a(href="#") Валуйки
            +e
              a(href="#") Варнавино
            +e
              a(href="#") Васильсурск
            +e
              a(href="#") Велиж
            +e
              a(href="#") Великие Луки
            +e
              a(href="#") Великий Новгород
            +e
              a(href="#") Валдай
            +e
              a(href="#") Валуйки
            +e
              a(href="#") Варнавино
            +e
              a(href="#") Васильсурск
            +e
              a(href="#") Велиж
            +e
              a(href="#") Великие Луки
            +e
              a(href="#") Великий Новгород
            +e
              a(href="#") Давлеканово
            +e
              a(href="#") Дагестанские Огни
            +e
              a(href="#") Далматово
            +e
              a(href="#") Дальнегорск
            +e
              a(href="#") Дальнереченск
            +e
              a(href="#") Данилов
            +e
              a(href="#") Данков
            +e
              a(href="#") Давлеканово
            +e
              a(href="#") Дагестанские Огни
            +e
              a(href="#") Далматово
            +e
              a(href="#") Дальнегорск
            +e
              a(href="#") Дальнереченск
            +e
              a(href="#") Данилов
            +e
              a(href="#") Данков
            +e
              a(href="#") Новокуйбышевск
            +e
              a(href="#") Новомичуринск
            +e
              a(href="#") Новомосковск
            +e
              a(href="#") Новопавловск
            +e
              a(href="#") Новоржев
            +e
              a(href="#") Новороссийск
            +e
              a(href="#") Новосиль
            +e
              a(href="#") Новокуйбышевск
            +e
              a(href="#") Новомичуринск
            +e
              a(href="#") Новомосковск
            +e
              a(href="#") Новопавловск
            +e
              a(href="#") Новоржев
            +e
              a(href="#") Новороссийск
            +e
              a(href="#") Новосиль
    +e.map-wrap
      .container
        +b.map-overlay-wrap
          +b.map-overlay
            +e.title Контакты
            +e.city г. Санкт-Петербург
            ul
              li
                +b.I.icon._phone-b
                +e.A.phone(href="tel:+78200504703") +7 (820) 050-47-03
              li
                +b.I.icon._map-b
                | Ул. Красноармейская, 79/2
              li
                +b.I.icon._work-time-b
                span Режим работы: 
                +e.work-time Пн — Пт : 10:00 — 20:00<br>Сб : 10:00 — 16:00<br>Вс : 10:00 — 14:00

      +e.map(data-info='[{"data": { "city": "Москва", "address": "Ул. Красноармейская, 79/2", "phone": "+7 (820) 050-47-03", "worktime": "Пн-Пт : 10:00 - 20:00<br>Сб : 10:00 - 16:00<br>Вс : 10:00 - 14:00"}, "position": {"lat": 46.481974, "lng": 30.738917}}]', data-mapposition='{"lat": 46.482755, "lng": 30.735491}')#map-inner
  // END MAIN MAP


block append scripts
  script(src="_assets/google-map-infobubble/src/infobubble-compiled.js")
  script(src="js/map.js")
  script(async, defer, src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCOLCLyNf78NPiHzZ23qp9wA1CTXFUoLwY&callback=initInnerMap")