extends _base

block classname
  -var navItemActive = 1

block content
  // BEGIN MAIN SLIDER
  .container
    +b.layout._slider
      +e.sidebar
        +b.NAV.catagory-list
          ul
            li
              a(href="catalog.html") Бренды конструкторов
            li
              a(href="catalog.html") Деревянные конструкторы
            li
              a(href="catalog.html") Картонные конструкторы
            li
              a(href="catalog.html") Конструкторы Лего
            li
              a(href="catalog.html") Конструкторы для малышей
            li
              a(href="catalog.html") Конструкторы из кирпичиков
            li
              a(href="catalog.html") Магнитные конструкторы
            li
              a(href="catalog.html") Металлические конструкторы
            li
              a(href="catalog.html") Мягкие конструкторы
            li
              a(href="catalog.html") Пластмассовые конструкторы
            li
              a(href="catalog.html") Распродажа
      +e.main
        +b.main-slider
          +e.slides.swiper-container
            .swiper-wrapper
              +e.slide.swiper-slide
                img(src="images/slider-1.jpg", alt="")
              +e.slide.swiper-slide
                img(src="images/slider-2.jpg", alt="")
              +e.slide.swiper-slide
                img(src="images/slider-3.jpg", alt="")
            .swiper-pagination
            +e.nav
              +b.slider-nav._prev
                +b.I.icon._slider-nav-prev
              +b.slider-nav._next
                +b.I.icon._slider-nav-next

  // END MAIN SLIDER

  // BEGIN HIT
  +b.hit
    .container
      +product-card-slide('Хиты продаж', 2)#hit

  // END HIT
  
  
  // BEGIN MAIN YOUTUBE
  +b.main-youtube
    .container
      +e.wrap
        +e.text
          +b.I.icon._youtube
          +e.title Посмотрите видео, как это просто!
          p Мы сделали этот видеоролик, чтобы рассказать, на сколько сильно этот конструктор увлекает не только детей, но и взрослых. И показать, как просто и интересно можно воплотить в жизнь любую свою фантазию.
          p.color-primary Мы проверили конструктор на наших детях и теперь смело можем рекомендавать его Вам!
          +b.A.btn._default(href="videos.html") Посмотреть все видео
        +e.video
          +b.video-wrap
            iframe(src="https://www.youtube.com/embed/QKCtexYEZZY", allowfullscreen)

  // END MAIN YOUTUBE


  // BEGIN VANTAGE
  +b.vantage
    .container
      +e.title Почему у нас покупать приятно?
      +e.list
        +e.item
          +b.I.icon._cities
          p Всегда в наличии в 58 городах России. <br>Не нужно долго ждать достаки.
        +e.item
          +b.I.icon._guarantee
          p Гарантия качества. При обнаружении брака, мы немедленно обменяем товар на другой или вернем вам денги.
        +e.item
          +b.I.icon._discount
          p Регулярные акции и скидки до 70%.
  // END VANTAGE


  // BEGIN MAIN REVIEWS
  +b.main-reviews
    .container
      +e.wrap
        +e.col
          +e.title Отзывы наших покупателей
          +e.desc Если вы тоже уже купили конструктор и Вам он очень понравился, пожалуйста, оставьте отзыв. Это поможет другим родителям сделать правильный выбор. 
          +b.A.btn._default(href="reviews.html") Посмотреть все отзывы
        +e.col
          +b.main-review-item
            +e.quote
              +b.I.icon._quote
            +e.text
              p Очень довольна покупкой магнитного конструктора, хотя раньше думала, что им можно заинтересовать сына только на пару дней. Теперь почти каждый день что-то строим.
            +e.bottom
              +e.SPAN.name Елизавета 
              | | 
              +e.TIME.time(datetime="2018-02-25") 25 февраля 2018
        +e.col
          +b.main-review-item
            +e.quote
              +b.I.icon._quote
            +e.text
              p Довольны покупкой и работой магазина! До этого конструктора у нас уже был маленький конструктор Magformers, так что примерно представляли чего ожидать. 
            +e.bottom
              +e.SPAN.name Андрей 
              | | 
              +e.TIME.time(datetime="2018-02-25") 20 апреля 2018
  // END MAIN REVIEWS


  // BEGIN MAIN FAQ
  +b.main-faq
    .container
      +e.title Вопросы и ответы
      // BEGIN ACCORDION
      +b.accordion
        // BEGIN ACCORDION ITEM
        +e.item.active
          +e.head ПОДОЙДЕТ ЛИ КОНСТРУКТОР ДЛЯ РЕБЕНКА МЛАДШЕГО ВОЗРАСТА?
          +e.body Конструктор можно приобрести для ребенка младшего возраста, однако понадобится помощь родителей, чтоб создавать конструкции. Пластик, из которого выполнены детали, абсолютно нетоксичен и безопасен для детей. Конструктор невозможно сломать и повредить себя им. У деталей отсутствуют хрупкие крепления и составные части.
        // END ACCORDION ITEM
        // BEGIN ACCORDION ITEM
        +e.item
          +e.head НА СКОЛЬКО ДЕТАЛЕЙ ЛУЧШЕ КУПИТЬ КОНСТРУКТОР?
          +e.body(style="display: none;") Конструктор можно приобрести для ребенка младшего возраста, однако понадобится помощь родителей, чтоб создавать конструкции. Пластик, из которого выполнены детали, абсолютно нетоксичен и безопасен для детей. Конструктор невозможно сломать и повредить себя им. У деталей отсутствуют хрупкие крепления и составные части.
        // END ACCORDION ITEM
        // BEGIN ACCORDION ITEM
        +e.item
          +e.head МОЕМУ РЕБЕНКУ НРАВИТСЯ ЛЕГО, ПОНРАВИТСЯ ЛИ ЕМУ МАГНИТНЫЙ КОНСТРУКТОР?
          +e.body(style="display: none;") Конструктор можно приобрести для ребенка младшего возраста, однако понадобится помощь родителей, чтоб создавать конструкции. Пластик, из которого выполнены детали, абсолютно нетоксичен и безопасен для детей. Конструктор невозможно сломать и повредить себя им. У деталей отсутствуют хрупкие крепления и составные части.
        // END ACCORDION ITEM
        // BEGIN ACCORDION ITEM
        +e.item
          +e.head КОМУ БОЛЬШЕ ПОДОЙДЕТ КОНСТРУКТОР: МАЛЬЧИКАМ ИЛИ ДЕВОЧКАМ?
          +e.body(style="display: none;") Конструктор можно приобрести для ребенка младшего возраста, однако понадобится помощь родителей, чтоб создавать конструкции. Пластик, из которого выполнены детали, абсолютно нетоксичен и безопасен для детей. Конструктор невозможно сломать и повредить себя им. У деталей отсутствуют хрупкие крепления и составные части.
        // END ACCORDION ITEM
        // END ACCORDION
  // END MAIN FAQ
  +main-map


block append scripts
  script.
    window.appmap = [
      { "id": 0,
        "city": "Санкт-Петербург",
        "position": {"lat": 59.916269, "lng": 30.325847},
        "zoom": 17,
        "market": [
          {
            "address": "Ул. Крассноармейская, 71/2",
            "phone": "+7 (820) 050-47-03",
            "worktime": "Пн-Пт : 10:00 - 20:00<br>Сб : 10:00 - 16:00<br>Вс : 10:00 - 14:00",
            "position": {"lat": 59.916547, "lng": 30.327356},
          },
          {
            "address": "Ул. Крассноармейская, 75/2",
            "phone": "+7 (820) 050-45-03",
            "worktime": "Пн-Пт : 10:00 - 20:00<br>Сб : 10:00 - 16:00<br>Вс : 10:00 - 14:00",
            "position": {"lat": 59.916377, "lng": 30.324220},
          },
          {
            "address": "Ул. Крассноармейская, 78/2",
            "phone": "+7 (820) 050-48-03",
            "worktime": "Пн-Пт : 10:00 - 20:00<br>Сб : 10:00 - 16:00<br>Вс : 10:00 - 14:00",
            "position": {"lat": 59.916744, "lng": 30.325425},
          }
        ],
      },
      { "id": 1,
        "city": "Москва",
        "position": {"lat": 55.732668, "lng": 37.617129},
        "zoom": 17,
        "market": [
          {
            "address": "Ул. Крассноармейская, 71/2",
            "phone": "+7 (820) 050-47-03",
            "worktime": "Пн-Пт : 10:00 - 20:00<br>Сб : 10:00 - 16:00<br>Вс : 10:00 - 14:00",
            "position": {"lat": 55.733033, "lng": 37.619934}
          },
        ],
      },
    ];
  script(src="_assets/google-map-infobubble/src/infobubble-compiled.js")
  script(src="js/map.js")
  script(async, defer, src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCOLCLyNf78NPiHzZ23qp9wA1CTXFUoLwY&callback=initMap")