//
// Assets
//
@import "_base/mixins"
@import "_base/reset"
@import "_base/vars"
@import "_base/fonts"
@import "_base/sprite"

//
// Blocks
//

body
  min-width: 320px
  font-family: "Roboto Condensed", sans-serif
  font-size: 15px
  color: #777

img
  max-width: 100%

.page
  &__wrap
    display: flex
    min-height: 100vh
    flex-direction: column
    overflow: hidden

  &__content
    flex: 1 1 auto

  &__footer
    flex: 0 0 auto



.container
  max-width: 1170px
  padding: 0 15px
  margin: 0 auto

a
  color: $color-primary2
  &:hover
    color: $color-primary

.dropdown-bg
  display: none
  position: fixed
  top: 0
  left: 0
  right: 0
  bottom: 0
  background-color: #000
  opacity: .2
  cursor: pointer

.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar
  width: 3px

+sprites($icon-sprites)

.icon
  display: inline-block
  vertical-align: middle

.icon_vk
  &:hover
    +sprite($icon-vk-hover)
.icon_gp
  &:hover
    +sprite($icon-gp-hover)
.icon_od
  &:hover
    +sprite($icon-od-hover)
.icon_tw
  &:hover
    +sprite($icon-tw-hover)
.icon_fb
  &:hover
    +sprite($icon-fb-hover)
.icon_in
  &:hover
    +sprite($icon-in-hover)


.content
  margin: 0 0 50px
  line-height: (24/15)
  h1
    font-size: 30px
    line-height: 1.2
    font-weight: 600
    color: #333
    margin-bottom: 15px
  
  h2,
  h3,
  h4,
  h5
    color: #444
    line-height: 1.2

  h2
    font-size: 24px
    margin-bottom: 20px

  h3
    font-size: 20px
    margin-bottom: 10px

  h4
    font-size: 18px
    margin-bottom: 20px

  h5
    font-size: 16px
    font-weight: 600
    margin-bottom: 10px

  ol
    margin: 20px 0

  p
    margin: 20px 0

.mfp-bg
  opacity: .2

.field
  input
    border: 1px solid $color-gray
    box-sizing: border-box
    height: 41px
    padding: 0 20px
    font-family: "Roboto Condensed", sans-serif
    font-size: 15px
    color: #333
    width: 100%
    outline: none
    &:placeholder
      color: #999
    &:focus
      border-color: $color-primary2

    &.error
      border-color: #e95547
      &+span
        display: block
        text-align: left
        color: #e95547
        margin-top: 2px
  textarea
    border: 1px solid $color-gray
    box-sizing: border-box
    padding: 10px 20px
    font-family: "Roboto Condensed", sans-serif
    font-size: 15px
    color: #333
    width: 100%
    outline: none
    &:placeholder
      color: #999
    &:focus
      border-color: $color-primary2

    &.error
      border-color: #e95547
      &+span
        display: block
        text-align: left
        color: #e95547
        margin-top: 2px
    


.btn
  cursor: pointer
  user-select: none
  background: none
  border: 0 none
  text-align: center
  height: 41px
  font-size: 15px
  font-family: "Roboto Condensed", sans-serif
  display: inline-block
  box-sizing: border-box

  &_primary
    padding: 0 15px
    width: 100%
    background-color: $color-primary2
    color: #fff
    &:hover
      background-color: $color-primary

  &_default
    background-color: #fff
    border: 1px solid $color-gray
    color: $color-primary2
    height: 36px
    line-height: 34px
    padding: 0 25px
    &:hover,
    &:active
      color: $color-primary2
      background-color: #f6f6f6

.checkbox
  cursor: pointer
  input
    display: none
    &:checked
      &+span
        &:after
          background-image: url(../images/check.png)
          background-position: 50% 50%
          background-repeat: no-repeat

  &>span
    position: relative
    display: inline-block
    padding-left: 35px
    &:after
      content: ''
      position: absolute
      top: 2px
      left: 0
      width: 20px
      height: 20px
      box-sizing: border-box
      background-color: #fff
      border: 1px solid $color-gray

.form-required
  font-size: 13px
  color: #999
  margin: 10px 0 15px


hr,.line
  height: 1px
  background-color: $color-gray
  margin: 30px 0
  border: 0 none
  color: $color-gray

  &_line
    position: relative
    &:after
      content: ''
      position: absolute
      bottom: 0
      left: 0
      width: 27px
      height: 2px
      background-color: $color-primary

.color-primary
  color: $color-primary
.color-primary2
  color: $color-primary2


.layout
  display: flex
  margin: 45px -15px 30px
  &__sidebar
    width: (3/12)*100%
    box-sizing: border-box
    padding: 0 15px

  &__main
    width: (9/12)*100%
    box-sizing: border-box
    padding: 0 15px

  &_slider
    +r(1080)
      flex-wrap: wrap
      .layout
        &__sidebar
          order: 1
          width: auto
          max-width: 870px
          margin: 0 auto
        &__main
          max-width: 870px
          margin: 0 auto
          order: 0
          width: 100%
    +r(660)
      margin: 20px -15px
    +r(480)
      .layout
        &__sidebar
          width: 100%

    .catagory-list
      ul
        +r(1080)
          display: flex
          flex-wrap: wrap
          border-bottom: 0 none
          margin: 0 -5px
        +r(480)
          margin: 0
          display: block
          border-bottom: 1px solid $color-gray
          width: 100%
      li
        +r(1080)
          margin: 5px
          border-bottom: 1px solid $color-gray
        +r(480)
          margin: 0
          border-bottom: 0 none
      a
        +r(660)
          padding: 10px
        &:after
          +r(1080)
            width: auto
            top: -1px
            bottom: auto
            left: 0
            right: 100%
            height: 2px
            transition: right .3s ease-in-out
          +r(480)
            width: 2px
            top: 0
            bottom: 100%
            left: -1px
            right: auto
            height: auto
            transition: bottom .3s ease-in-out
          &:hover
            &:after
              +r(1080)
                bottom: auto
                right: 0
              +r(480)
                right: auto
                bottom: 0
  &_catalog
    +r(1080)
      .layout
        &__sidebar
          display: none
        &__main
          width: 100%

.rub
  +rub

.nav-small
  ul
    display: flex
  
  a
    color: #333
    font-size: 15px
    display: block
    padding: 15px 30px
    position: relative
    &:after
      content: ''
      position: absolute
      top: -1px
      left: 0
      right: 0
      height: 2px
      opacity: 0
      background-color: $color-primary
    &:hover
      color: $color-primary
  li
    border-top: 1px solid $color-gray
    border-right: 1px solid $color-gray
    border-bottom: 1px solid $color-gray
    &.active
      a
        color: $color-primary
        &:after
          opacity: 1
    
    &:nth-child(1)
      border-left: 1px solid $color-gray


.inner-map
  margin: 30px 0 0
  &__title
    font-size: 24px
    line-height: 1.2
    color: #333
    margin-bottom: 20px
    text-align: center
  &__map
    height: 475px

.info-map
  font-size: 14px
  line-height: 1.24
  font-family: "Roboto Condensed", sans-serif
  color: #777
  padding: 10px 25px
  &__city
    font-size: 15px
    font-weight: 700
    color: #333
  &__phone
    color: #333

  &__worktime-list
    font-size: 13px
    line-height: 1.24
    display: inline-block
    vertical-align: top

.select
  border: 1px solid $color-gray
  height: 36px
  display: inline-block
  box-sizing: border-box
  position: relative
  z-index: 5

  &.active
    z-index: 6
    .select
      &__current
        background-color: #f6f6f6

  &__current
    height: 34px
    line-height: 34px
    font-size: 14px
    color: #333
    cursor: pointer
    padding: 0 35px 0 22px
    position: relative
    &:after
      content: ''
      position: absolute
      top: 50%
      margin-top: -4px
      right: 19px
      width: 3px
      height: 3px
      border-bottom: 2px solid #333
      border-right: 2px solid #333
      transform: rotate(45deg)

  &__dropdown
    display: none
    position: absolute
    z-index: 7
    top: 100%
    left: 0
    width: 226px
    background-color: #fff
    border: 1px solid $color-gray
    padding: 20px 
    box-sizing: border-box
    box-shadow: 0 5px 6px rgba(#000, .07)
    +r(480)
      width: 200px

  &__all
    margin-bottom: 5px
    cursor: pointer
    &:hover
      color: $color-primary

  .list-scroll
    max-height: 230px
    li
      font-size: 14px
      line-height: (24/14)

.view-type
  display: flex

  &__item
    width: 36px
    text-align: center
    height: 36px
    line-height: 32px
    box-sizing: border-box
    border-top: 1px solid $color-gray
    border-bottom: 1px solid $color-gray
    border-right: 1px solid $color-gray
    cursor: pointer
    &:first-child
      border-left: 1px solid $color-gray
    &:hover
      .icon_grid
        +sprite($icon-grid-hover)
      .icon_list
        +sprite($icon-list-hover)
    input
      display: none
      &:checked
        &+span
          .icon_grid
            +sprite($icon-grid-hover)
          .icon_list
            +sprite($icon-list-hover)

.table-wrap
  overflow-x: auto
.hit
  margin-top: 40px


@import "header/header"
@import "top-nav/top-nav"
@import "footer/footer"
@import "breadcrumbs/breadcrumbs"
@import "city/city"
@import "search/search"
@import "list/list"
@import "requisites/requisites"
@import "popup/popup"
@import "not-found/not-found"
@import "wholesale/wholesale"
@import "sitemap/sitemap"
@import "order-success/order-success"
@import "pagination/pagination"
@import "reviews/reviews"
@import "shipping/shipping"
@import "how-to-order/how-to-order"
@import "vantage/vantage"
@import "main-faq/main-faq"
@import "main-reviews/main-reviews"
@import "main-youtube/main-youtube"
@import "catagory-list/catagory-list"
@import "main-slider/main-slider"
@import "catalog/catalog"
@import "catalog/product-card-slide"
@import "main-map/main-map"
@import "videos/videos"
@import "checkout/checkout"
@import "counter/counter"
@import "contact/contact"
@import "product/product"
@import "catalog/product-price"
@import "catalog/product-card"
@import "special/special"
@import "overview/overview"


