extends _base

block content
  .container
    +breadcrumbs(['Главная', 'Публичная оферта'])
    // BEGIN CONTENT 
    .content
      h1 Публичная оферта
      h2 Покупки товаров через интернет-магазин Аксеум
      h3 Термины и определения
      p В настоящей оферте, если контекст не требует иного, нижеприведенные термины имеют следующие значения и являются ее составной неотъемлемой частью:<br>«Оферта» — публичное предложение Продавца, адресованное любому физическому или юридическому лицу, заключить с ним договор купли-продажи (далее — «Договор») на существующих условиях, содержащихся в договоре;<br>«Покупатель» — физическое (обладающее дееспособностью и необходимыми полномочиями) или юридическое лицо, заключившее с Продавцом публичный договор оферты на условиях, содержащихся в договоре;<br>«Продавец» — ООО «Аксеум» ОГРН 1157017009335;<br>«Акцепт» — полное и безоговорочное принятие Покупателем условий договора;<br>«Товар» — перечень наименований ассортимента на официальном интернет-сайте: axeum.ru;<br>«Заказ» — отдельные позиции из ассортиментного перечня товара, указанные покупателем при оформлении заявки на интернет-сайте;<br>«Доставка» — сторонняя организация, предоставляющая Покупателю услуги по доставке заказа.<br>«Интернет-магазин» — официальный сайт Продавца, предназначенный для заключения договоров с физическими и юридическими лицами купли-продажи, на основании ознакомления Покупателя с предложенным Продавцом, описанием товара и/или представленных на фотоснимках, посредством сети интернет, исключающей возможность непосредственного ознакомления Покупателя с товаром — дистанционный способ продажи товара.
      ol
        li
          h4 1. Общие положения.
          ol
            li 1.1. В соответствии со статьей 437 Гражданского Кодекса Российской Федерации (ГК РФ) данный документ является публичной офертой, и в случае принятия изложенных ниже условий физическое или юридическое лицо, производящее акцепт этой оферты, осуществляет оплату заказа в соответствии с условиями настоящего договора.
            li 1.2. В соответствии с пунктом 3 статьи 438 ГК РФ, оплата заказа Покупателем является акцептом оферты, что считается равносильным заключению договора на условиях, изложенных в оферте.
            li 1.3. На основании выше изложенного, внимательно ознакомьтесь с текстом публичной оферты, и если Вы не согласны с каким-либо пунктом оферты, Вам предлагается отказаться от покупки товаров, предоставляемых Продавцом.
        li
          h4 2. Предмет договора.
          ol
            li 2.1. Продавец обязуется передать в собственность Покупателю заказ, а покупатель обязуется оплатить и принять заказ, на условиях настоящего договора.
            li 2.2. Настоящий договор регулирует куплю-продажу в интернет-магазине, в том числе:
              ol
                li 2.2.1. Добровольный выбор покупателем товаров в интернет-магазине;
                li 2.2.2. Самостоятельное оформление покупателем заказа в интернет-магазине;
                li 2.2.3. Оплата покупателем заказа, оформленного в интернет-магазине;
                li 2.2.4. Выполнение и передача заказа покупателю в собственность на условиях настоящего договора.
            li 2.3. Право собственности на заказ переходит к Покупателю с момента оплаты полной стоимости заказа.

        li
          h4 3. Порядок оформления и оплаты заказа.
          ol
            li 3.1. Цены в интернет-магазине указаны в валюте Российской Федерации-рублях.
            li 3.2. Цены на товар определяются Продавцом в одностороннем бесспорном порядке и указываются на страницах интернет-магазина по ссылке: axeum.ru
            li 3.3. Полная стоимость заказа состоит из:<br>— стоимости товара в интернет-магазине;<br>— стоимости доставки товара;<br>— суммы % (процента) комиссии за услуги денежного перевода через платежные системы (размер комиссии зависит от выбранной Покупателем платежной системы).
            li 3.4. Порядок оформления заказа указан на странице интернет-магазина по ссылке: /page/kak-sdelat-zakaz.
            li 3.5. Покупатель оплачивает заказ любым удобным и доступным способом, выбранным в интернет-магазине по ссылке: /page/oplata (Продавец не несет ответственности за операции выполняемые Покупателем через платежные системы).
            li 3.6. Все информационные материалы, представленные на сайте по ссылке: axeum.ru носят справочный характер и не могут в полной мере передавать достоверную информацию об определенных свойствах и характеристиках товара. В случае возникновения у Покупателя вопросов, касающихся свойств и характеристик товара, перед оформлением заказа ему необходимо обратиться за консультацией к службе поддержки Продавца.
        li
          h4 4. Права и обязанности сторон.
          h5(style="color: #e95547;") Продавец обязуется:
          ol
            li 4.1. С момента заключения настоящего договора обеспечить в полной мере все обязательства перед Покупателем, в соответствии с условиями настоящего договора и действующего законодательства.
            li 4.2. Продавец оставляет за собой право невыполнения обязательств по Договору в случае возникновения обстоятельств непреодолимой силы, форс-мажорных ситуаций.
            li 4.3. Обрабатывать персональные данные Покупателя и обеспечивать их конфиденциальность в порядке, установленном действующим законодательством.
            li 4.4. Предотвращать попытки несанкционированного доступа к информации и/или передачу ее лицам, не имеющим непосредственного отношения к исполнению заказов.
          h5(style="color: #e95547;") Продавец имеет право:
          ol
            li 4.5. Осуществлять записи телефонных переговоров с Покупателем. В соответствии с п. 4 ст. 16 Федерального закона «Об информации, информационных технологиях и о защите информации».
            li 4.6. Без согласования с Покупателем, передавать свои права и обязанности по исполнению договора третьим лицам.
            li 4.7. Изменять настоящий договор, цены на товар и тарифы на сопутствующие услуги, способы и сроки оплаты и доставки товара в одностороннем порядке, помещая их на страницах интернет-магазина, расположенного по интернет-адресу: https://axeum.ru. Все изменения вступают в силу немедленно после публикации, и считаются доведенными до сведения Покупателя с момента такой публикации.
            li 4.8. Продавец вправе ограничить количество товаров, которое покупатель оформляет в заказе, проинформировав об этом Покупателя.
            li 4.9. Информация о Покупателе может быть передана официальным органам строго в соответствии с требованиями законодательства.
            li 4.10. Информировать (оповещать) по средствам интернета, на указанный электронный ящик и по средствам телефонной связи, на указанный номер телефона Покупателя о статусе заказ.
            li 4.11. Информировать о скидках, акциях и изменениях, касающихся Товара Продавца по средствам интернета, на указанный электронный ящик и по средствам телефонной связи, на указанный номер телефона Покупателем.
          h5(style="color: #e95547;") Покупатель обязуется:
          ol
            li 4.12. Предоставить достоверную информацию при оформлении заказа: ФИО, электронную почту, номер контактного телефона, индекс, регион, город, улицу и номер дома.
            li 4.13. До момента заключения договора ознакомиться с содержанием публичного договора — оферты, условиями оплаты и доставки указанными на сайте интернет-магазина по ссылке: axeum.ru
            li 4.14. Оплатить заказ и его доставку на условиях настоящего договора.
          | Покупатель имеет право:
          ol
            li 4.15. Покупатель вправе полностью или частично отказаться от приобретения заказа в любой момент до оплаты, поставив в известность Продавца.
            li 4.16. Отказаться от информации (оповещения) Продавцом о скидках, акциях и изменениях, касающихся Товара Продавца, отписавшись на сайте интернет-магазина в личном кабинете
        li
          h4 5. Доставка товара.
          ol
            li 5.1. Доставка заказа осуществляется после поступления оплаты на счёт продавца.
            li 5.2. Способ доставки, Покупатель, выбирает из предложенных вариантов на сайте интернет-магазина по ссылке: /page/dostavka или предлагает сам, предварительно получив согласие менеджера интернет-магазина.
            li 5.3. При выборе курьерской службы или почты России, доставка заказов осуществляется на указанный покупателем адрес. При выборе транспортной компании, адрес доставки заказа осуществляется после предварительного согласования с менеджером интернет-магазина.
            li 5.4. Сроки доставки рассчитываются согласно установленным срокам выбранной транспортной компании.
            li 5.5. В случае если Покупатель своевременно не получил заказ из транспортной компании (курьерская служба, почта России и т. д.), и заказ возвращается назад Продавцу, все транспортные расходы оплачиваются Покупателем в полном объёме.
            li 5.6. Продавец не несёт ответственности за сохранность заказа (посылки) и упаковки при пересылке службами доставки (курьерская служба, почта России и т.д.) от Продавца к Покупателю. С момента передачи Продавцом заказа (посылки) службе доставки (курьерская, почта России и т.д.) обязанности Продавца считаются завершенными. Продавец не несет ответственности за задержки, потери или повреждения заказа при его доставке, вызванные вмешательством служб доставки (курьерская служба, почта России и т.д.). Если при получении посылки Покупатель обнаружил, что она имеет следы вскрытия, внешние повреждения целостности упаковки, Покупатель должен составить акт в присутствии работников службы доставки (курьерская, почта России и т.д.) и предъявить претензию данной службе с требованием возмещения убытков. Правила оформления актов (документов) уточняется в службе доставки (курьерская, почта России и т.д.).

        li
          h4 6. Гарантия на товар, возврат и обмен товара.
          ol
            li 6.1. Интернет-магазин Аксеум несет гарантийные обязательства на всю приобретенную у нас продукцию, указанную по интернет-адресу: /page/garantija.
            li 6.2. Возврат товара надлежащего качества. В соответствии с п.4 ст.26.1. «Дистанционный способ продажи товара» в Законе РФ «О Защите прав потребителей», Покупатель вправе отказаться от заказанного товара в любое время до момента исполнения заказа, а после получения товара — в течение 7(семи) дней, не считая дня покупки. Возврат товара надлежащего качества возможен в случае, если сохранены его товарный вид, потребительские свойства, а также документ, подтверждающий факт и условия покупки указанного товара. Транспортные расходы, по возврату товара, оплачиваются Покупателем. Технически сложный товар, надлежащего качества не подлежит обмену (перечень товаров утверждается Правительством РФ).
            li 6.3. Возврат и обмен товара ненадлежащего качества. Под товаром ненадлежащего качества подразумевается товар, который неисправен и не может обеспечить исполнение своих функциональных качеств. Полученный товар должен соответствовать описанию на сайте. Отличие элементов дизайна или оформления от заявленных в описании на сайте не является неисправностью или не функциональностью товара. Внешний вид и комплектность товара, а также комплектность всего заказа должны быть проверены получателем в момент доставки заказа. Если Вам был передан товар ненадлежащего качества, Покупатель вправе воспользоваться положениями ст. 18 Закона «О защите прав потребителей». Вправе потребовать замены товара, отказаться от исполнения договора, возвратить товар ненадлежащего качества и потребовать возврата уплаченной за товар денежной суммы. Продавец обязан принять товар ненадлежащего качества у Покупателя, и при необходимости провести проверку качества товара (экспертизу) в течение 20 дней со дня фактического получения товара от Покупателя. Любые из перечисленных требований должны быть предъявлены Покупателем в письменной форме по почте.
            li 6.4. Продавец не несет ответственности в случае неправильного выбора Покупателем характеристик или модификации товара, являющегося предметом данного договора.
        li
          h4 7. Срок действия настоящего договора.
          ol
            li 7.1. Стороны признают, что исполнение обязательств по настоящему договору начинается с момента оформления Покупателем заказа и присоединения к настоящему договору.
            li 7.2. Заканчивается срок действия настоящего договора, при полном исполнении обязательств Сторонами.
        li
          h4 8. Прочие условия.
          ol
            li 8.1. В случае возникновения вопросов и претензий со стороны Покупателя, он должен обратиться к Продавцу.
            li 8.2. Стороны примут все меры к разрешению споров и разногласий, которые могут возникнуть при исполнении обязательств по договору или в связи с этим, путем переговоров.
            li 8.3. В случае если Стороны не пришли к соглашению, все споры подлежат рассмотрению в соответствии с процедурой, предусмотренной законодательством РФ, в суде по месту нахождения Продавца.

      h5(style="color: #e95547;") Реквизиты продавца:
      p Наименование: Общество с ограниченной ответственностью «Аксеум»<br>Краткое наименование предприятия: ООО «Аксеум»<br>Юридический адрес: 634050, г. Томск, ул. Гагарина, 7.<br>Фактический адрес: 634050, г. Томск, ул. Гагарина, 7.<br>ОГРН: 1157017009335<br>ИНН: 7017377801<br>КПП: 701701001<br>Банк: Филиал «Новосибирский» АО «АЛЬФА-БАНК»<br>Расчетный счет: 40702810223200000302<br>Корреспондентский счет: 30101810600000000774<br>БИК: 045004774

    // END CONTENT 