extends _base

block classname
  -var cartActive = 'active'

block content
  .container
    +breadcrumbs(['Главная', 'Корзина', 'Операция выполнена успешно'])
    // BEGIN ORDER SUCCES 
    +b.order-success
      +b.I.icon._success
      +e.num Ваш заказ № 675
      +e.thanks Большое спасибо что выбрали нас!
      p Мы позвоним для подтверждения. В какое время это лучше сделать?
      +e.phone Александр, мы перезвоним Вам в ближайшее время для полтверждения заказа по номеру 8 (935) 445-88-42



    // END ORDER SUCCES 
