extends _base
block classname
  -var navItemActive = 2
block content
  .container
    +breadcrumbs(['Главная', 'Каталог', 'Магнитные конструкторы', 'Конструктор магнитный набор 112 эл.'])
    // BEGIN PRODUCT 
    +b.product
      +e.title Конструктор магнитный набор 112 эл.
      +e.top
        +e.slider
          +b.product-slider
            +e.thumb
              .swiper-container
                .swiper-wrapper
                  - for(var i = 0; i < 4; i++)
                    +e.thumb-slide.swiper-slide(style="background-image: url(images/product-big-1.jpg)")
              +e.slide-thumb-nav
                +e.slide-thumb-button._prev
                  +b.I.icon._thumb-prev
                +e.slide-thumb-button._next
                  +b.I.icon._thumb-next
            +e.slides
              .swiper-container
                .swiper-wrapper
                  - for(var i = 0; i < 4; i++)
                    +e.slide.swiper-slide
                      img(src="images/product-big-1.jpg" alt="Конструктор магнитный набор 112 эл.")
        +e.order
          +e.order-wrap
            form
              dl
                div
                  dt Код товара:
                  dd 482015
                div
                  dt Возраст:
                  dd с 3 лет 
                div
                  dt Материал:
                  dd пластик 
                div
                  dt Комплектация:
                  dd 112 элементов 
                div
                  dt Производитель:
                  dd Magplayer 
                div
                  dt Сделано в:
                  dd Китай
              +e.availability.color-primary В наличии!

              +counter
              +e.price
                +b.product-price
                  ins 2 450
                    +b.SPAN.rub a
                  del 2 450
                    +b.SPAN.rub a
              +b.checkout-shipping
                +e.title Варианты доставки:
                +e.line
                  +b.LABEL.checkbox
                    input(type="checkbox")
                    span Забрать в пункте выдачи
                      br
                      span.color-primary Доступно сегодня
                      br
                      span.color-primary2 Адрес: г. Москва, Комсомольская площадь, 1а ст.4
                +e.line
                  +b.LABEL.checkbox
                    input(type="checkbox")
                    span Доставка курьером
                      br
                      span.color-primary Доступно сегодня
              +b.BUTTON.btn._primary(type="submit") Купить
      +e.bottom
        +e.tab
          ul
            li.active
              a(href="#tab1") Описание
            li
              a(href="#tab2") Отзывы о товаре
        +e.tab-item.active#tab1
          .content
            p Магнитный конструктор Whirligig Set китайского бренда Magplayer станет настоящим открытием для любителей конструирования. Особенность игровых наборов этого бренда заключается в том, что детали соединяются без креплений, при помощи магнитов. Качественный конструктор состоит из 112-ти элементов. Собирая разные конструкции, дитя будет изучать геометрические фигуры, цвета. Процесс сборки из мелких деталей положительно воздействует на развитие моторики и ловкости рук, фантазии, внимательности и усидчивости. Пока непоседа увлечен конструированием, родители могут со спокойной душой заняться своими делами. В комплект магнитного набора входит инструкция, в которой расписано несколько вариантов сборки. Готовые фигурки дитя сможет использовать для игр или оригинального оформления детской комнаты. Для производства забавы китайская компания использовала магниты и высокопрочный пластик.  
        +e.tab-item#tab2
          // BEGIN REVIEWS 
          +b.reviews
            -for(var i = 0; i < 2; i++)
              // BEGIN REVIEW ITEM 
              +b.review-item
                +e.quote
                  +b.I.icon._quote
                +e.text
                  p Очень довольна покупкой магнитного конструктора, хотя раньше думала, что им можно заинтересовать сына только на пару дней. Теперь почти каждый день что-то строим. Очень довольна покупкой магнитного конструктора, хотя раньше думала, что им можно заинтересовать сына только на пару дней. Теперь почти каждый день что-то строим.
                    if i % 2 == 0
                     | Очень довольна покупкой магнитного конструктора, хотя раньше думала, что им можно заинтересовать сына только на пару дней. Теперь почти каждый день что-то строим. Очень довольна покупкой магнитного конструктора, хотя раньше думала, что им можно заинтересовать сына только на пару дней. Теперь почти каждый день что-то строим.
                  +e.bottom
                    +e.SPAN.name Елизавета 
                    | | 
                    +e.TIME.time(datetime="2018-02-25") 25 февраля 2018
              // END REVIEW ITEM 
            // BEGIN REVIEW FORM 
            +b.review-form
              +e.title Оставить отзыв
              form
                .form-line
                  +b.field
                    input(type="text", placeholder="Имя*", name="name", required)
                .form-line
                  +b.field
                    textarea(name="message", rows="5", required, placeholder="Комментарий*")

                .form-required *поля обязательные для заполнения
                +e.btn-wrap
                  +b.BUTTON.btn._primary(type="submit") Оставить отзыв

            // END REVIEW FORM 

          // END REVIEWS 

    // END PRODUCT 

    +product-card-slide('Похожие товары', 1)#similar
