extends _base

block classname
  -var navItemActive = 6

block content
  .container
    +breadcrumbs(['Главная', 'Контакты'])
    // BEGIN CONTACT 
    +b.contact
      +e.title Контакты

      // BEGIN NAV SMALL
      +b.nav-small
        ul
          li
            a(href="contact.html") Контакты
          li.active
            a(href="requisites.html") Реквизиты
      // END NAV SMALL

      // BEGIN REQUISITES
      +b.requisites
        dl
          div
            dt
              span Наименование организации:
            dd 
              span Общество с ограниченной ответственностью «Босфор» 
          div
            dt
              span Краткое наименование:
            dd 
              span ООО «Босфор» ИНН7017428647 КПП701701001 ОГРН 1177031078091
          div
            dt
              span Юридический адрес:
            dd 
              span 634009, г. Томск, ул. Карла Маркса, 48/1, пом. 4010
          div
            dt
              span Почтовый адрес: 
            dd 
              span 634034, г. Томск, а/я 434
          div
            dt
              span Адрес электронной почты:
            dd 
              span region7017@mail.ru
          div
            dt
              span Телефон:
            dd 
              span 0 (800) 670-42-80
          div
            dt
              span Должность руководителя:
            dd 
              span Директор
          div
            dt
              span ФИО руководителя:
            dd 
              span Кожемякин Дмитрий Сергеевич
          div
            dt
              span Действует на основании:
            dd 
              span Устав
          div
            dt
              span Главный бухгалтер:
            dd 
              span Кожемякин Дмитрий Сергеевич
          div
            dt
              span Расчетный счет:
            dd 
              span 40702810564000006852
          div
            dt
              span Наименование банка:
            dd 
              span ПАО «Сбербанк России» БИК 046902606
          div
            dt
              span Корреспондентский счет:
            dd 
              span 30101810800000000606 ОКПО 16514824
      // END REQUISITES

      .content
        h2 Возврат товара
        p Постановление Правительства РФ от 19 января 1998 г. В случае обнаружения недостатков товара, свойства которого не позволяют устранить их (продовольственные товары, парфюмерно-косметические изделия, товары бытовой химии и другие товары), покупатель вправе по своему выбору потребовать замены такого товара товаром надлежащего качества либо соразмерного уменьшения покупной цены. Вместо предъявления указанных требований покупатель вправе отказаться от приобретенного товара и потребовать возврата уплаченной за товар денежной суммы. При этом покупатель по требованию продавца и за его счет должен возвратить полученный товар ненадлежащего качества.

        h2 Конфиденциальность
        p Федеральный закон РФ № 152-ФЗ «О персональных данных» — федеральный закон, регулирующий деятельность по обработке (использованию) персональных данных.

        ol
          li
            h4 1. Определения
            p Интернет проект kvadromax.ru , мы серьезно относится к вопросу конфиденциальности информации своих клиентов и посетителей сайта kvadromax.ru Персонифицированной мы называем информацию, содержащую персональные данные (например: ФИО, логин или название компании) посетителя сайта, а также информацию о действиях, совершаемых вами на сайте URL. (например: заказ посетителя сайта с его контактной информацией). Анонимными мы называем данные, которые невозможно однозначно идентифицировать с конкретным посетителем сайта (например: статистика посещаемости сайта).
          li
            h4 2. Использование информации
            p Мы используем персонифицированную информацию конкретного посетителя сайта исключительно для обеспечения ему качественного оказания услуг и их учета. Мы не раскрываем персонифицированных данных одних посетителей сайта URL другим посетителям сайта. Мы никогда не публикуем персонифицированную информацию в открытом доступе и не передаем ее третьим лицам. Исключением являются лишь ситуации, когда предоставление такой информации уполномоченным государственным органам предписано действующим законодательством Российской Федерации. Мы публикуем и распространяем только отчеты, построенные на основании собранных анонимных данных. При этом отчеты не содержат информацию, по которой было бы возможным идентифицировать персонифицированные данные пользователей услуг. Мы также используем анонимные данные для внутреннего анализа, целью которого является развитие продуктов и услуг URL.
          li
            h4 3. Ссылки
            p Сайт <a href="kvadromax.ru">kvadromax.ru</a> может содержать ссылки на другие сайты, не имеющие отношения к нашей компании и принадлежащие третьим лицам. Мы не несем ответственности за точность, полноту и достоверность сведений, размещенных на сайтах третьих лиц, и не берем на себя никаких обязательств по сохранению конфиденциальности информации, оставленной вами на таких сайтах.
          li
            h4 4. Ограничение ответственности
            p Мы делаем все возможное для соблюдения настоящей политики конфиденциальности, однако, мы не можем гарантировать сохранность информации в случае воздействия факторов находящихся вне нашего влияния, результатом действия которых станет раскрытие информации. Сайт kvadromax.ru и вся размещенная на нем информация представлены по принципу "как есть” без каких-либо гарантий. Мы не несем ответственности за неблагоприятные последствия, а также за любые убытки, причиненные вследствие ограничения доступа к сайту URL или вследствие посещения сайта и использования размещенной на нем информации.
          li
            h4 5. Контакты
            p По вопросам, касающимся настоящей политики, просьба обращаться по адресу: <a href="mailto:info@kvadromax.ru">info@kvadromax.ru</a>


    // END CONTACT 
  // BEGIN INNER MAP 
  +b.inner-map
    .container
      +e.title Купить конструктор в Воронеже
    +e.map(data-info='[{"data": { "city": "Москва", "address": "Ул. Красноармейская, 79/2", "phone": "+7 (820) 050-47-03", "worktime": "Пн-Пт : 10:00 - 20:00<br>Сб : 10:00 - 16:00<br>Вс : 10:00 - 14:00"}, "position": {"lat": 46.481974, "lng": 30.738917}},{"data": { "city": "Москва2", "address": "Ул. Красноармейская, 79/2", "phone": "+7 (820) 050-47-03", "worktime": "Пн-Пт : 10:00 - 20:00<br>Сб : 10:00 - 16:00<br>Вс : 10:00 - 14:00"}, "position": {"lat": 46.482170, "lng": 30.741216}}]', data-mapposition='{"lat": 46.481974, "lng": 30.738917}')#map-inner
  // END INNER MAP 

block append scripts
  script(src="_assets/google-map-infobubble/src/infobubble-compiled.js")
  script(src="js/map.js")
  script(async, defer, src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCOLCLyNf78NPiHzZ23qp9wA1CTXFUoLwY&callback=initInnerMap")

