extends _base

block classname
  -var navItemActive = 2

block content
  .container
    +breadcrumbs(['Главная', 'Отзывы'])
    // BEGIN REVIEWS 
    +b.reviews
      +e.title Отзывы

      -for(var i = 0; i < 5; i++)
        // BEGIN REVIEW ITEM 
        +b.review-item
          +e.quote
            +b.I.icon._quote
          +e.text
            p Очень довольна покупкой магнитного конструктора, хотя раньше думала, что им можно заинтересовать сына только на пару дней. Теперь почти каждый день что-то строим. Очень довольна покупкой магнитного конструктора, хотя раньше думала, что им можно заинтересовать сына только на пару дней. Теперь почти каждый день что-то строим.
              if i % 2 == 0
               | Очень довольна покупкой магнитного конструктора, хотя раньше думала, что им можно заинтересовать сына только на пару дней. Теперь почти каждый день что-то строим. Очень довольна покупкой магнитного конструктора, хотя раньше думала, что им можно заинтересовать сына только на пару дней. Теперь почти каждый день что-то строим.
            +e.bottom
              +e.SPAN.name Елизавета 
              | | 
              +e.TIME.time(datetime="2018-02-25") 25 февраля 2018
        // END REVIEW ITEM 


      +pagination


      // BEGIN REVIEW FORM 
      +b.review-form
        +e.title Оставить отзыв
        form(action="/")
          .form-line
            +b.field
              input(type="text", placeholder="Имя*", name="name", required)
          .form-line
            +b.field
              textarea(name="message", rows="5", required, placeholder="Комментарий*")

          .form-required *поля обязательные для заполнения
          +e.btn-wrap
            +b.BUTTON.btn._primary(type="submit") Оставить отзыв

      // END REVIEW FORM 

    // END REVIEWS 
