extends _base

block classname
  -var navItemActive = 4

block content
  .container
    +breadcrumbs(['Главная', 'Доставка и оплата'])
    // BEGIN CONTENT 
    .content
      h1 Доставка и оплата
      p Вы сделали заказ или только собираетесь, но Вас волнует вопрос, когда будет доставка и ее стоимость.
      p После того, как Вы оформили заказ, он автоматически направится к нашим сотрудникам на проверку. Как только заказ пройдет проверку, мы свяжемся с Вами и обговорим удобное для Вас время доставки.

      // BEGIN SHIPPING TYPE WRAP 
      +b.shipping-type-wrap
        // BEGIN SHIPPING TYPE 
        +b.shipping-type
          +e.title Если Вам необходима доставка Почтой <br>России
          +b.line._line
          
          ol
            li Звонок
            li Консультация
            li Оформление заказ
            li Внесение предоплаты за доставку - 420 руб.
            li Получение товара в отделении Почты России
          hr
          ul
            li
              +b.I.icon._call
              span Телефон (Call-центр): 
              +e.A.phone(href="tel:88003337015") 8 (800) 333-70-15
            li
              +b.I.icon._mail
              span E-mail по общим вопросам: 
              +e.A.mail(href="mailto:info@info.ru") info@info.ru
            li
              +b.I.icon._work-time
              span Режим работы: 
              +e.work-time Пн — Пт : 10:00 — 20:00<br>Сб : 10:00 — 16:00<br>Вс : 10:00 — 14:00
        // END SHIPPING TYPE 
        // BEGIN SHIPPING TYPE 
        +b.shipping-type
          +e.title Если Вы находитесь в одном из 48 городов, <br>где есть наши представители:
          +b.line._line
          
          ol
            li Звонок
            li Консультация
            li Оформление заказа
            li Получение в пункте выдачи в день заказа
          hr
          ul
            li
              +b.I.icon._call
              span Телефон (Call-центр): 
              +e.A.phone(href="tel:88003337015") 8 (800) 333-70-15
            li
              +b.I.icon._mail
              span E-mail по общим вопросам: 
              +e.A.mail(href="mailto:info@info.ru") info@info.ru
            li
              +b.I.icon._work-time
              span Режим работы: 
              +e.work-time Пн — Пт : 10:00 — 20:00<br>Сб : 10:00 — 16:00<br>Вс : 10:00 — 14:00
        // END SHIPPING TYPE 
        // BEGIN SHIPPING TYPE 
        +b.shipping-type
          +e.title Если Вы находитесь в городе, где есть <br>Пункт выдачи заказа
          +b.line._line
          
          ol
            li Звонок
            li Консультация
            li Оформление заказ
            li Внесение предоплаты за доставку
            li Получение товара в Пункте выдачи Сдэк
          hr
          ul
            li
              +b.I.icon._call
              span Телефон (Call-центр): 
              +e.A.phone(href="tel:88003337015") 8 (800) 333-70-15
            li
              +b.I.icon._mail
              span E-mail по общим вопросам: 
              +e.A.mail(href="mailto:info@info.ru") info@info.ru
            li
              +b.I.icon._work-time
              span Режим работы: 
              +e.work-time Пн — Пт : 10:00 — 20:00<br>Сб : 10:00 — 16:00<br>Вс : 10:00 — 14:00
        // END SHIPPING TYPE 
      // END SHIPPING TYPE WRAP 

      hr
      h3 Способы оплаты товара:
      +b.UL.payment-method-list
        li Наличный расчет
        li Безналичный расчет
        li Электронные деньги и банковские карты
    // END CONTENT 
