extends _base

block content
  .container
    +breadcrumbs(['Главная', 'Карта сайта'])
    // BEGIN SITEMAP 
    +b.sitemap
      +e.title Карта сайта 
      ul
        li
          a(href="#") Главная
        li
          a(href="#") Каталог
          ul
            li
              a(href="#") Бренды конструкторов
            li
              a(href="#") Деревянные конструкторы
            li
              a(href="#") Картонные конструкторы
            li
              a(href="#") Конструкторы Лего
            li
              a(href="#") Конструкторы для малышей
            li
              a(href="#") Конструкторы из кирпичиков
            li
              a(href="#") Магнитные конструкторы
            li
              a(href="#") Металлические конструкторы
            li
              a(href="#") Мягкие конструкторы
            li
              a(href="#") Пластмассовые конструкторы
            li
              a(href="#") Распродажа
        li
          a(href="#") Как купить?
        li
          a(href="#") Доставка и оплата 
        li
          a(href="#") Оптом
        li
          a(href="#") Контакты
        li
          a(href="#") Корзина
        li
          a(href="#") Видео
        li
          a(href="#") Публичная оферта
        li
          a(href="#") Уславия обмена и возврата
        li
          a(href="#") Реквизиты

    
    // END SITEMAP 
