extends _base

block content
  .container
    +breadcrumbs(['Главная', 'Все видео'])
    // BEGIN VIDEOS 
    +b.videos
      +e.title Все видео
      -for(var i = 0; i < 5; i++)
        +e.item
          +e.preview-wrap
            +e.A.preview.js-popup-video(href="https://www.youtube.com/watch?v=QKCtexYEZZY")
              +e.play
                +b.I.icon._play
              img(src="images/videos1.jpg", alt="")
          +e.text
            +e.item-title Magformers конструктор на магнитах складываем машинки и домик Магформерс
            p Мы сделали этот видеоролик, чтобы рассказать, на сколько сильно этот конструктор увлекает не только детей, но и взрослых. И показать, как просто и интересно можно воплотить в жизнь любую свою фантазию.
            +b.A.btn._default(href="catalog.html") Перейти к покупкам




    // END VIDEOS 
