extends _base

block classname
  -var navItemActive = 5

block content
  .container
    +breadcrumbs(['Главная', 'Оптом'])
    // BEGIN WHOLESALE 
    +b.wholesale
      +e.text
        .content
          h1 Оптом
          h3 Оптовые продажи
          p Наш интернет-магазин специализируется на оптовых продажах гироскутеров и сигвэев. Мы готовы предложить максимально выгодные условия для сотрудничества. Широкий ассортимент и оптовые цены дадут возможность заработать с каждой продажи гироскутеров от 5 000 руб. Оптовый склад находится в Москве.<br>Вы можете купить гироскутер по оптовой цене в неограниченном количестве и использовать его для проката в вашем городе, либо для продажи в ТЦ Вашего города.Чтобы оформить оптовый заказ, можете воспользоваться электронной почтой или позвонить по телефону:
          p E-mail:
            a(href="#") opt@opt.ru
          h3 Удобный сервис
          p Мы ввели несколько способов оплаты, различные варианты доставки и стремимся обеспечить быстрый, простой и безопасный опыт покупки для бизнесменов и потребителей по всей территории России.


      // BEGIN WHOLESALE FORM 
      +e.form#wholesale-form
        form
          +e.form-title Оставьте заявку
          +e.form-desc и наш менеджер свяжется с Вами
          .form-line
            +b.field
              input(type="text", placeholder="Имя и фамилия*", name="name", required)
          .form-line
            +b.field
              input(type="tel", placeholder="Номер телефона*", name="phone", required)
          .form-line
            +b.field
              input(type="text", placeholder="Город", name="city")
          .form-line
            +b.field
              input(type="email", placeholder="E-mail", name="email")
          .form-required *поля обязательные для заполнения
          +e.btn-wrap
            +b.BUTTON.btn._primary(type="submit") Запросить оптовый прайс
      // END WHOLESALE FORM 



    // END WHOLESALE 


block append popup
  +b.popup-order-success.mfp-hide#popup-order-success
    +e.title Александт, спасибо что выбрали наш интернет-магазин
    +e.desc В ближайшее время мы свяжемся <br>с Вами по телефону: 8 (945) 450-80-04
    +e.line
    +e.oreder-num Номер Вашей заявки 245
    +e.price Итого: 3 580 руб.
    p Будем рады видеть Вас нашим партнером

