mixin footer()
  // BEGIN FOOTER 
  +b.FOOTER.footer
    +e.wrap.container
      +e.logo
        +b.A.logo(href="#")
          img(src="images/logo.png", alt="")
          +e.text
            +e.logo constructional
            +e.small Развивающие конструкторы для детей

        +e.P.copy Цены указаны с учетом НДС. Доставка по всей России. <br>Россия, Москва, 1-й Кожевнический пер., д.28. <br>&copy; 2016 ООО "Constructional"
      +e.inner
        nav
          ul
            li
              a(href="catalog.html") Каталог
            li
              a(href="how-to-order.html") Как купить?
            li
              a(href="shipping_payment.html") Доставка и оплата
            li
              a(href="wholesale.html") Оптом
            li
              a(href="oferta.html") Публичная оферта
            li
              a(href="conditions.html") Возврат и обмен
            li
              a(href="contact.html") Контакты
            li
              a(href="sitemap.html") Карта сайта

        +e.line
          +e.box
            +e.phone Бесплатный звонок 
              br
              +e.A.phone-link(href="tel:88006704280") 8 (800) 670-42-80
              br
              a.js-popup-call(href="#popup-call") Заказать обратный звонок
          +e.box
            +e.subtitle Принимаем к оплате
            +e.A.payment(href="#")
              img(src="images/payment.png", alt="")
          +e.box
            +e.subtitle Мы в соц.сетях
            +b.social
              ul
                li
                  a(href="#")
                    +b.I.icon._vk
                li
                  a(href="#")
                    +b.I.icon._gp
                li
                  a(href="#")
                    +b.I.icon._od
                li
                  a(href="#")
                    +b.I.icon._tw
                li
                  a(href="#")
                    +b.I.icon._fb
                li
                  a(href="#")
                    +b.I.icon._in

  // END FOOTER 