.footer
  background-image: url(../images/line-pattern.jpg)
  background-repeat: repeat-x
  background-position: 50% 100%
  background-color: #f4f4f4
  border-top: 3px solid #e4e4e4
  padding: 55px 0 70px
  +r(480)
    padding: 30px 0

  &__wrap
    display: flex
    justify-content: space-between
    flex-wrap: wrap
    +r(1125)
      justify-content: center

  &__subtitle
    font-size: 14px
    text-transform: uppercase
    font-weight: 600
    color: #333
    margin-bottom: 15px


  &__copy
    margin-top: 22px
    font-size: 12px
    color: #999
    line-height: (18/12)
    +r(1125)
      text-align: center

  .logo
    img
      max-width: 46px
      margin-right: 10px
    &__logo
      font-size: 27px
      margin-bottom: 3px
    &__small
      font-size: 12px

  nav
    +rmin(830)
      border-bottom: 1px solid $color-gray
    +r(830)
      padding-top: 10px
    ul
      display: flex
      flex-wrap: wrap
      +r(830)
        justify-content: center
    li
      flex-grow: 1
      +r(830)
        flex-grow: 0
    a
      display: block
      color: #333
      font-size: 15px
      padding: 16px 10px
      white-space: nowrap
      text-align: center
      +r(830)
        padding: 5px
      +rmin(830)
        &:after
          content: ''
          position: absolute
          bottom: -1px
          left: 0
          right: 100%
          background-color: $color-primary
          height: 2px
          opacity: 0
          transition: right .3s ease-in-out
      &:hover
        color: $color-primary
        position: relative
        &:after
          opacity: 1
          right: 0


  &__line
    margin-top: 25px
    display: flex
    justify-content: space-between
    flex-wrap: wrap
    +r(560)
      justify-content: space-around

  &__box
    +r(560)
      margin: 10px
      text-align: center

  &__phone
    font-size: 13px
  
  &__phone-link
    color: #333
    text-transform: uppercase
    font-weight: 600
    font-size: 18px
    display: inline-block
    margin: 5px 0



.social
  li
    display: inline-block
  li+li
    margin-left: 2px