mixin list-scroll(list, link, classNameLi)
  +b.list-scroll
    ul
      each item in list
        if link
          li(class=classNameLi)
            a(href=link)!= item.text
        else
          li(class=classNameLi)!= item.text
        