.product
  &__title
    font-size: 30px
    line-height: 1.24
    font-weight: 700
    color: #333
    margin-bottom: 20px
    +r(480)
      font-size: 24px

  &__top
    display: flex
    margin: 0 -15px
    +r(980)
      flex-wrap: wrap

  &__order
    flex-grow: 1
    position: relative
    padding: 0 15px
    box-sizing: border-box

    dl
      font-size: 14px
      line-height: (24/14)
    dt
      color: #999
      display: inline-block
    dd
      color: #333
      display: inline-block

    .btn
      margin-top: 25px
      max-width: 97px

  &__availability
    font-size: 14px
    margin: 30px 0 20px

  &__price
    margin-top: 20px
    margin-bottom: 10px
    .product-price ins
      margin-left: 0

  

  &__order-wrap
    display: inline-block
    padding-right: 280px
    box-sizing: border-box
    +r(1100)
      padding-right: 0
    +r(980)
      margin-top: 15px
      padding-right: 280px
      position: relative
    +r(500)
      padding-right: 0

  .checkout-shipping
    position: absolute
    width: 270px
    top: 0
    right: 0
    +r(1100)
      position: static
    +r(980)
      position: absolute
    +r(500)
      position: static
      width: 100%
      max-width: 270px

  &__slider
    width: 600px
    flex: none
    padding: 0 15px
    box-sizing: border-box
    +r(660)
      width: 100%

  &__tab
    margin-top: 40px
    border-bottom: 1px solid $color-gray
    margin-bottom: 30px

    ul
      display: flex
      justify-content: flex-start
      align-items: stretch

    li
      border-top: 1px solid $color-gray
      border-right: 1px solid $color-gray
      border-left: 1px solid $color-gray
      &.active
        a
          color: $color-primary
          &:after
            right: 0

    
    li+li
      border-left: 0 none


    a
      display: block
      padding: 15px 30px
      color: #333
      position: relative
      +r(480)
        padding: 15px
      &:after
        content: ''
        position: absolute
        top: -1px
        left: 0
        right: 100%
        height: 2px
        background-color: $color-primary
        transition: right .3s ease-in-out

      &:hover
        color: $color-primary
        &:after
          right: 0

  &__tab-item
    display: none
    &.active
      display: block

  &__bottom
    padding-bottom: 15px
    border-bottom: 1px solid $color-gray
    margin-bottom: 45px

    .content
      margin: 0


.product-slider
  display: flex
  justify-content: flex-start
  &__thumb
    width: 100px
    flex: none
    height: 300px
    padding-bottom: 100px
    position: relative
    margin-right: -1px
    z-index: 2
    +r(660)
      display: none
    .swiper-container
      width: 100%
      height: 100%
  &__thumb-slide
    border: 1px solid $color-gray
    box-sizing: border-box
    cursor: pointer
    background-position: 50% 50%
    background-size: contain
    background-repeat: no-repeat
    position: relative
    height: 100px
    &:after
      content: ''
      position: absolute
      top: 0
      bottom: 100%
      left: -1px
      width: 2px
      background-color: $color-primary
      transition: bottom .3s ease-in-out
    &.swiper-slide-active
      &:after
        bottom: 0

  &__slides
    flex-grow: 1
    width: 470px
    box-sizing: border-box
    border: 1px solid $color-gray
    +r(660)
      width: 100%
    .swiper-container
      width: 100%
      height: 100%
  &__slide
    box-sizing: border-box
    text-align: center
    img
      width: 470px
      +r(660)
        width: auto

  &__slide-thumb-nav
    position: absolute
    bottom: 0
    left: 0
    right: 0
    padding: 10px 0
    box-sizing: border-box
    text-align: center

  &__slide-thumb-button
    padding: 10px
    box-sizing: border-box
    cursor: pointer
    &:hover
      .icon_thumb-prev
        +sprite($icon-thumb-prev-hover)
      .icon_thumb-next
        +sprite($icon-thumb-next-hover)





