mixin main-map()
  // BEGIN MAIN MAP
  +b.main-map
    .container
      +e.wrap
        +e.search
          +e.title Где можно купить <br>магнитный конструктор
          +b.search#map-search
            form(action="/")
              +e.wrap
                +e.input
                  input(type="text", name="search", placeholder="Введите город", autocomplete="off")
                button(type="submit")
                  +b.I.icon._search
                +e.dropdown
                  +b.list-scroll
                    ul
                      li(data-city-id="0") Санкт-Петербург
                      li(data-city-id="1") Москва
          +e.address
            +b.map-notfound К сожалению в вашем городе нет магазина.
            +b.map-address.active(data-city-id="0")
              +e.city Санкт-Петербург
              +e.A.phone(href="tel:+78200504703") +7 (820) 050-47-03
              +e.address Ул. Красноармейская, 79/2
              +e.worktime
                span Работаем: 
                +e.SPAN.worktime-list Пн — Пт : 10:00 — 20:00 <br>Сб : 10:00 — 16:00<br>Вс : 10:00 — 14:00
              +e.A.phone(href="tel:+78200504703") +7 (820) 050-47-03
              +e.address Ул. Красноармейская, 71/2
              +e.worktime
                span Работаем: 
                +e.SPAN.worktime-list Пн — Пт : 10:00 — 20:00 <br>Сб : 10:00 — 16:00<br>Вс : 10:00 — 14:00
              +e.A.phone(href="tel:+78200504703") +7 (820) 050-47-03
              +e.address Ул. Красноармейская, 71/2
              +e.worktime
                span Работаем: 
                +e.SPAN.worktime-list Пн — Пт : 10:00 — 20:00 <br>Сб : 10:00 — 16:00<br>Вс : 10:00 — 14:00
            +b.map-address(data-city-id="1")
              +e.city Москва
              +e.A.phone(href="tel:+78200504703") +7 (820) 050-47-03
              +e.address Ул. Красноармейская, 79/2
              +e.worktime
                span Работаем: 
                +e.SPAN.worktime-list Пн — Пт : 10:00 — 20:00 <br>Сб : 10:00 — 16:00<br>Вс : 10:00 — 14:00
            

        +e.list-wrap
          +e.UL.list
            +e
              a(href="index-city.html") Асино
            +e
              a(href="index-city.html") Аткарск
            +e
              a(href="index-city.html") Ахтубинск
            +e
              a(href="index-city.html") Ачинск
            +e
              a(href="index-city.html") Аша
            +e
              a(href="index-city.html") Бабаево
            +e
              a(href="index-city.html") Бабушкин
            +e
              a(href="index-city.html") Ахтубинск
            +e
              a(href="index-city.html") Ачинск
            +e
              a(href="index-city.html") Аша
            +e
              a(href="index-city.html") Бабаево
            +e
              a(href="index-city.html") Бабушкин
            +e
              a(href="index-city.html") Ахтубинск
            +e
              a(href="index-city.html") Ачинск
            +e
              a(href="index-city.html") Бабаево
            +e
              a(href="index-city.html") Бабушкин
            +e
              a(href="index-city.html") Валдай
            +e
              a(href="index-city.html") Валуйки
            +e
              a(href="index-city.html") Варнавино
            +e
              a(href="index-city.html") Васильсурск
            +e
              a(href="index-city.html") Велиж
            +e
              a(href="index-city.html") Великие Луки
            +e
              a(href="index-city.html") Великий Новгород
            +e
              a(href="index-city.html") Валдай
            +e
              a(href="index-city.html") Валуйки
            +e
              a(href="index-city.html") Варнавино
            +e
              a(href="index-city.html") Васильсурск
            +e
              a(href="index-city.html") Велиж
            +e
              a(href="index-city.html") Великие Луки
            +e
              a(href="index-city.html") Великий Новгород
            +e
              a(href="index-city.html") Давлеканово
            +e
              a(href="index-city.html") Дагестанские Огни
            +e
              a(href="index-city.html") Далматово
            +e
              a(href="index-city.html") Дальнегорск
            +e
              a(href="index-city.html") Дальнереченск
            +e
              a(href="index-city.html") Данилов
            +e
              a(href="index-city.html") Данков
            +e
              a(href="index-city.html") Давлеканово
            +e
              a(href="index-city.html") Дагестанские Огни
            +e
              a(href="index-city.html") Далматово
            +e
              a(href="index-city.html") Дальнегорск
            +e
              a(href="index-city.html") Дальнереченск
            +e
              a(href="index-city.html") Данилов
            +e
              a(href="index-city.html") Данков
            +e
              a(href="index-city.html") Новокуйбышевск
            +e
              a(href="index-city.html") Новомичуринск
            +e
              a(href="index-city.html") Новомосковск
            +e
              a(href="index-city.html") Новопавловск
            +e
              a(href="index-city.html") Новоржев
            +e
              a(href="index-city.html") Новороссийск
            +e
              a(href="index-city.html") Новосиль
            +e
              a(href="index-city.html") Новокуйбышевск
            +e
              a(href="index-city.html") Новомичуринск
            +e
              a(href="index-city.html") Новомосковск
            +e
              a(href="index-city.html") Новопавловск
            +e
              a(href="index-city.html") Новоржев
            +e
              a(href="index-city.html") Новороссийск
            +e
              a(href="index-city.html") Новосиль
    +e.map#map-main
  // END MAIN MAP