.main-map
  padding: 55px 0 0

  &__wrap
    display: flex
    justify-content: space-between
    margin: 0 -15px 30px
    +r(768)
      flex-wrap: wrap

  &__search
    width: (4/12)*100%
    padding: 0 15px
    box-sizing: border-box
    +r(980)
      width: (5/12)*100%
    +r(768)
      width: 100%
      margin-bottom: 20px


    .list-scroll
      li
        display: none
      .is-show
        display: block

  &__title
    font-size: 24px
    line-height: 1.24 
    color: #333
    margin-bottom: 25px

  
  &__list-wrap
    padding: 0 15px
    box-sizing: border-box
    flex-grow: 1

  &__list
    column-count: 4
    line-height: (20/14)
    font-size: 14px
    +r(660)
      column-count: 3
    +r(480)
      column-count: 2


  .search
    margin-bottom: 30px

  &__map
    height: 475px

  &__map-wrap
    position: relative
    &:after
      content: ''
      position: absolute
      z-index: 10
      top: 0
      bottom: 0
      left: 0
      width: 50%
      background-color: #f4f4f4
      +r(768)
        display: none



.map-address
  border-left: 1px solid $color-gray
  padding-left: 22px
  box-sizing: border-box
  display: none
  &.active
    display: block

  &__city
    font-size: 18px
    color: #333
    font-weight: 700
    position: relative
    padding: 4px 0
    &:after
      content: ''
      position: absolute
      top: 0
      bottom: 0
      left: -22px
      width: 2px
      background-color: $color-primary

  &__phone
    margin-top: 15px
    font-size: 18px
    font-weight: 700
    color: #333
    margin-bottom: 10px
    display: inline-block
    &:hover
      color: $color-primary

  &__worktime
    margin-top: 15px

  &__worktime-list
    display: inline-block
    vertical-align: top
    line-height: 1.2

.map-overlay-wrap
  position: relative

.map-overlay
  position: absolute
  z-index: 11
  left: 0
  right: 50%
  top: 0
  bottom: 0
  padding: 55px 0 20px
  max-width: 470px
  +r(768)
    padding: 20px
    position: static
    background-color: #f4f4f4
    max-width: none


  &__title
    font-size: 20px
    color: #333
    text-transform: uppercase
    font-weight: 700
    line-height: 1
    padding-bottom: 30px
    border-bottom: 1px solid $color-gray
    margin-bottom: 30px

  &__city
    font-size: 18px
    color: #333
    font-weight: 700
    margin-bottom: 30px

  ul
    li
      margin: 15px 0
      .icon
        margin-right: 15px

  &__phone
    color: #333
    white-space: nowrap
    font-weight: 700
    font-size: 18px

  &__work-time
    line-height: 1.2
    display: inline-block
    vertical-align: top
    position: relative

.map-notfound
  font-size: 18px
  margin: 0 0 15px
  display: none